# Library

In [1732]:
import pandas as pd
import numpy as np
import os
import re
import collections
#from gensim.parsing.preprocessing import remove_stopwords
import nltk
from nltk.corpus import stopwords
import itertools 
from nltk.tokenize import word_tokenize
from string import punctuation

from nltk import ngrams

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

# Functions

In [1733]:
def read_texts(path):
    data = []
    file_name = os.listdir(path)

    for name in file_name:
        if name.endswith('.txt'):
            with open(path + name,encoding="utf8") as f:
                text = f.read()
                data.append({'nombre':name.replace('.txt',''), 'texto':text})

    df = pd.DataFrame(data)
    return df

In [1734]:
# def filter_byindex(x,y):
#     #selectors = [x for x in col2]
#     return list(itertools.compress(x,y))

In [1735]:
def check_len(x,y):
    if x==y:
        return 0
    else:
        return 1

In [1736]:
def get_lf(i,j,k):
    if pd.isnull(k):
        regex_lf = re.compile(r'((?:\w+\W+){1,'+str(len(i))+'})\(\s'+i[0]+'.*\)')
        return regex_lf.findall(j)
    else:
        return k

In [1737]:
def ngram_filter(doc, word, n):
    tokens = doc.split()
    all_ngrams = ngrams(tokens, n)
    filtered_ngrams = [x for x in all_ngrams if word in x]
    return filtered_ngrams

In [1738]:
# def get_longform(tokens, acro, margin = 2, i =1):
#     long_form = ''
#     #Looking for before
#     for word in tokens[index-margin-len(acro):index]:
#         #if first letter of word is equal to first letter os acronym
#         if word[0] == acro[i].lower():
#             long_form += word + ' '
#             i += 1
#             if i == len(acro):
#                 break
#         elif (i == 1) and (word[0] == acro[i-1].lower()):
#             long_form = word + ' '
#             i = 1
#             if i == len(acro):
#                 break
#     long_form = long_form.rstrip()
#     return long_form

In [1739]:
def get_longform(tokens, acro):
    acro = acro.lower()
    long_form = ''
    margin = 2
    i =0
    #Looking for before
    if acro not in tokens:
        return -1
    else:
        index = tokens.index(acro)
        for word in tokens[index-margin-len(acro):index]:
            #if first letter of word is equal to first letter os acronym
            if word[0] == acro[i].lower():
                long_form += word + ' '
                i += 1
                if i == len(acro):
                    break
            elif (i == 1) and (word[0] == acro[i-1].lower()):
                long_form = word + ' '
                i = 1
                if i == len(acro):
                    break
        long_form = long_form.rstrip()
        return long_form

# Load Data

### Trainning

318 clinical cases

In [1740]:
train_raw = read_texts("../datasets/trainning_set/training_set.raw_text/txt/")

In [1741]:
train_raw = train_raw.rename(columns = {'nombre': 'doc_id'})

In [1742]:
train_raw.head()

,doc_id,texto
0,S0004-06142005000900013-1,Se trata de una mujer de 29 años sometida a un...
1,S0004-06142005000900015-1,"Varón de 36 años, sin antecedentes de interés,..."
2,S0004-06142005000900016-1,Mujer de 29 años con antecedentes de ulcus duo...
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...
4,S0004-06142005001000011-3,Mujer de 42 años en el momento de someterse a ...

In [1743]:
train_raw.shape

(318, 2)

# Sub-track 1

## Found abbreviations (Short Forms)

### Regex

In [1744]:
patron3 = r'[A-Z]{2,8}' #Letras mayúsculas entre 2 y 8. Probar (\s|\()[A-Z]{2,8}
patron4 = r'\s[a-z]{1,2}\s' #Entre 2 y 3 letras minusculas entre espacios
patron5 = r'\b[aA-zZ]{1,4}\-[aA-zZ]{1,4}\b' #mayúsuclas o minúsculas entre guiones
patron6 = r'[1-9]\s*[aA-zZ]{1,4}\/\b[aA-zZ]{1,4}\b' #Palabras divididas por / solo cuando las palabras no exceden de 4 caracteres
patron7 = r'[aA-zZ]{1,4}[A-Z]+[a-z]*[1-4]*'
#patron8 = r'\/[a-z]*[A-Z]*'


# create a list with them
regexes = [ patron3, patron4, patron5, patron6, patron7]
for i in regexes:
    generic_re = re.compile("%s|%s|%s|%s|%s" % (patron3, patron4, patron5, patron6, patron7))

In [1745]:
#nltk.download('stopwords')
swords = list(set(stopwords.words('spanish')))

Add words to stopwords lists

In [1793]:
swords = swords + ['I','II','III','IV','V','VI','VII','VIII','IX', 'X', 'x']

### Get Short Formns with a regex in each text

In [1794]:
train_raw['abrev'] = train_raw['texto'].map(lambda x: generic_re.findall(x))

Separate mesurement units separate by "/"

In [1747]:
# train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [a.split("/") for a in x])

In [1748]:
# train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [item for sublist in x for item in sublist])

**Get offsets of the Short Forms founded in the text**

In [1795]:
train_raw['offse'] = train_raw['texto'].map(lambda x: [(m.start(0), m.end(0)) for m in re.finditer(generic_re, x)])

In [1796]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [i.strip() for i in x])

Filter Short Forms to delete ones which are stopwords, get their index too for filter offsets lists later

In [1797]:
train_raw['abrev_index'] = train_raw['abrev'].apply(lambda x: [x.index(i) for i in x if i not in swords])

In [1798]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [i for i in x if i not in swords])

Filter offsets lists by index

In [1799]:
train_raw['offse'] = train_raw.apply(lambda x: [x['offse'][i] for i in x['abrev_index']], axis = 1)

In [1800]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean,tokens,zip
0,S0004-06142005000900013-1,Se trata de una mujer de 29 años sometida a un...,"[mm, DAKO, HHF]","[(185, 189), (1502, 1506), (1513, 1516)]","[8, 58, 59]",3,3,0,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","[(mm, (185, 189)), (DAKO, (1502, 1506)), (HHF,..."
1,S0004-06142005000900015-1,"Varón de 36 años, sin antecedentes de interés,...","[CT, MESNA]","[(408, 410), (1120, 1125)]","[14, 37]",3,3,0,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","[(CT, (408, 410)), (x, (445, 448)), (MESNA, (1..."
2,S0004-06142005000900016-1,Mujer de 29 años con antecedentes de ulcus duo...,[UIV],"[(400, 403)]",[8],1,1,0,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...","[(UIV, (400, 403))]"
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...,"[IRC, IgA, 8mg/Kg, 1mg/Kg, EEII, EEII, ROT, RC...","[(145, 148), (196, 199), (978, 984), (1030, 10...","[7, 9, 29, 31, 44, 44, 52, 54, 56, 61, 64, 68,...",17,17,0,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...","[(IRC, (145, 148)), (IgA, (196, 199)), (II, (5..."
4,S0004-06142005001000011-3,Mujer de 42 años en el momento de someterse a ...,"[HDA, EEII, EID, EID, ROT, RCP, RMN, PEES, LCR...","[(234, 237), (829, 833), (866, 869), (866, 869...","[8, 33, 35, 35, 40, 42, 44, 51, 54, 55, 57, 55...",14,14,0,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...","[(HDA, (234, 237)), (II, (276, 278)), (EEII, (..."

In [1801]:
train_raw[train_raw['doc_id'] == 'S0004-06142005001000011-1']['abrev']

3    [IRC, IgA, 8mg/Kg, 1mg/Kg, EEII, EEII, ROT, RC...
Name: abrev, dtype: object

Check abrev and offse columns has the same length

In [1811]:
train_raw['abrev_len'] =train_raw['abrev'].str.len()
train_raw['offse_len'] =train_raw['offse'].str.len()

In [1812]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean,tokens,zip
0,S0004-06142005000900013-1,Se trata de una mujer de 29 años sometida a un...,"[mm, DAKO, HHF]","[(185, 189), (1502, 1506), (1513, 1516)]","[8, 58, 59]",3,3,0,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","[(mm, (185, 189)), (DAKO, (1502, 1506)), (HHF,..."
1,S0004-06142005000900015-1,"Varón de 36 años, sin antecedentes de interés,...","[CT, MESNA]","[(408, 410), (1120, 1125)]","[14, 37]",2,2,0,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","[(CT, (408, 410)), (x, (445, 448)), (MESNA, (1..."
2,S0004-06142005000900016-1,Mujer de 29 años con antecedentes de ulcus duo...,[UIV],"[(400, 403)]",[8],1,1,0,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...","[(UIV, (400, 403))]"
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...,"[IRC, IgA, 8mg/Kg, 1mg/Kg, EEII, EEII, ROT, RC...","[(145, 148), (196, 199), (978, 984), (1030, 10...","[7, 9, 29, 31, 44, 44, 52, 54, 56, 61, 64, 68,...",16,16,0,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...","[(IRC, (145, 148)), (IgA, (196, 199)), (II, (5..."
4,S0004-06142005001000011-3,Mujer de 42 años en el momento de someterse a ...,"[HDA, EEII, EID, EID, ROT, RCP, RMN, PEES, LCR...","[(234, 237), (829, 833), (866, 869), (866, 869...","[8, 33, 35, 35, 40, 42, 44, 51, 54, 55, 57, 55...",13,13,0,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...","[(HDA, (234, 237)), (II, (276, 278)), (EEII, (..."

Check both lists have the same lenght

In [1813]:
train_raw['len_check'] = train_raw.apply(lambda row: check_len(row['abrev_len'],row['offse_len']),axis = 1)

Delete rows with different lenghts (check it later)

In [1814]:
train_raw.shape

(318, 11)

In [1815]:
train_raw[train_raw['len_check'] != 1].shape

(318, 11)

In [1761]:
#train_raw = train_raw[train_raw['len_check'] != 1]

### Text treatment

Remove string punctuation, lowecase, tokenize and remove stopwords

In [1816]:
for i in punctuation:
    train_raw['texto_clean'] = train_raw['texto'].str.replace(i,'').str.lower()

In [1817]:
train_raw['texto_clean'] = train_raw['texto_clean'].str.split().map(lambda x: ' '.join([w for w in x if w not in swords]))

In [1818]:
train_raw['tokens'] = train_raw['texto_clean'].map(lambda x: word_tokenize(x))

In [1819]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean,tokens,zip
0,S0004-06142005000900013-1,Se trata de una mujer de 29 años sometida a un...,"[mm, DAKO, HHF]","[(185, 189), (1502, 1506), (1513, 1516)]","[8, 58, 59]",3,3,0,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","[(mm, (185, 189)), (DAKO, (1502, 1506)), (HHF,..."
1,S0004-06142005000900015-1,"Varón de 36 años, sin antecedentes de interés,...","[CT, MESNA]","[(408, 410), (1120, 1125)]","[14, 37]",2,2,0,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","[(CT, (408, 410)), (x, (445, 448)), (MESNA, (1..."
2,S0004-06142005000900016-1,Mujer de 29 años con antecedentes de ulcus duo...,[UIV],"[(400, 403)]",[8],1,1,0,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...","[(UIV, (400, 403))]"
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...,"[IRC, IgA, 8mg/Kg, 1mg/Kg, EEII, EEII, ROT, RC...","[(145, 148), (196, 199), (978, 984), (1030, 10...","[7, 9, 29, 31, 44, 44, 52, 54, 56, 61, 64, 68,...",16,16,0,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...","[(IRC, (145, 148)), (IgA, (196, 199)), (II, (5..."
4,S0004-06142005001000011-3,Mujer de 42 años en el momento de someterse a ...,"[HDA, EEII, EID, EID, ROT, RCP, RMN, PEES, LCR...","[(234, 237), (829, 833), (866, 869), (866, 869...","[8, 33, 35, 35, 40, 42, 44, 51, 54, 55, 57, 55...",13,13,0,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...","[(HDA, (234, 237)), (II, (276, 278)), (EEII, (..."

### Get abreviations and offsets

Remove punctuation from abreviations

In [1766]:
# for i in punctuation:
#     train_raw['abrev'] = train_raw[train_raw['abrev'].notnull()]['abrev'].apply(lambda x: [a.replace(i,"") for a in x])

In [1820]:
train_raw['zip'] = train_raw.apply(lambda row: list(zip(row['abrev'], row['offse'])), axis = 1)

In [1821]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean,tokens,zip
0,S0004-06142005000900013-1,Se trata de una mujer de 29 años sometida a un...,"[mm, DAKO, HHF]","[(185, 189), (1502, 1506), (1513, 1516)]","[8, 58, 59]",3,3,0,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","[(mm, (185, 189)), (DAKO, (1502, 1506)), (HHF,..."
1,S0004-06142005000900015-1,"Varón de 36 años, sin antecedentes de interés,...","[CT, MESNA]","[(408, 410), (1120, 1125)]","[14, 37]",2,2,0,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","[(CT, (408, 410)), (MESNA, (1120, 1125))]"
2,S0004-06142005000900016-1,Mujer de 29 años con antecedentes de ulcus duo...,[UIV],"[(400, 403)]",[8],1,1,0,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...","[(UIV, (400, 403))]"
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...,"[IRC, IgA, 8mg/Kg, 1mg/Kg, EEII, EEII, ROT, RC...","[(145, 148), (196, 199), (978, 984), (1030, 10...","[7, 9, 29, 31, 44, 44, 52, 54, 56, 61, 64, 68,...",16,16,0,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...","[(IRC, (145, 148)), (IgA, (196, 199)), (8mg/Kg..."
4,S0004-06142005001000011-3,Mujer de 42 años en el momento de someterse a ...,"[HDA, EEII, EID, EID, ROT, RCP, RMN, PEES, LCR...","[(234, 237), (829, 833), (866, 869), (866, 869...","[8, 33, 35, 35, 40, 42, 44, 51, 54, 55, 57, 55...",13,13,0,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...","[(HDA, (234, 237)), (EEII, (829, 833)), (EID, ..."

### Get one row per abbreviation

Separate elements lists in different rows

In [1822]:
mine = train_raw.explode('zip')

In [1823]:
mine.shape

(2880, 11)

In [1824]:
mine[mine['zip'].isnull()].shape

(19, 11)

In [1825]:
mine = mine[['doc_id', 'texto_clean', 'tokens', 'zip']]

In [1826]:
mine = mine[mine['zip'].notnull()]

In [1827]:
mine.shape

(2861, 4)

In [1828]:
mine.head()

,doc_id,texto_clean,tokens,zip
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(mm, (185, 189))"
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(DAKO, (1502, 1506))"
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(HHF, (1513, 1516))"
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","(CT, (408, 410))"
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","(MESNA, (1120, 1125))"

### Separate SF from Offsets in different columns

In [1829]:
mine['abrev'] = mine.apply(lambda row: row['zip'][0], axis = 1)

In [1830]:
mine['offsets'] = mine.apply(lambda row: row['zip'][1], axis = 1)

In [1831]:
mine = mine[mine['abrev'] != ""]

In [1832]:
mine.head()

,doc_id,texto_clean,tokens,zip,abrev,offsets
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(mm, (185, 189))",mm,"(185, 189)"
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(DAKO, (1502, 1506))",DAKO,"(1502, 1506)"
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...","(HHF, (1513, 1516))",HHF,"(1513, 1516)"
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","(CT, (408, 410))",CT,"(408, 410)"
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...","(MESNA, (1120, 1125))",MESNA,"(1120, 1125)"

Separate offsets tuples in different columns

In [1833]:
mine[['startOffset', 'endOffset']] = pd.DataFrame(mine['offsets'].tolist(), index=mine.index)

In [1834]:
mine = mine[['doc_id', 'texto_clean', 'tokens', 'abrev', 'startOffset', 'endOffset']]

In [1835]:
mine.head()

,doc_id,texto_clean,tokens,abrev,startOffset,endOffset
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",mm,185,189
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",DAKO,1502,1506
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",HHF,1513,1516
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",CT,408,410
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",MESNA,1120,1125

Delete null values, and change ttype to integer for offsets columns

In [1836]:
mine.shape

(2861, 6)

In [1837]:
mine.dropna(subset=['startOffset', 'endOffset'], inplace = True)

In [1838]:
mine.shape

(2861, 6)

In [1839]:
mine['startOffset'] = mine['startOffset'].astype(int)
mine['endOffset'] = mine['endOffset'].astype(int)

In [1840]:
mine = mine[['doc_id', 'texto_clean', 'tokens', 'abrev', 'startOffset', 'endOffset']]

In [1841]:
mine.shape

(2861, 6)

In [1789]:
#mine[mine.duplicated(subset=['doc_id', 'texto_clean', 'abrev', 'startOffset', 'endOffset'], keep=False)]

In [1842]:
mine = mine.drop_duplicates(subset = ['doc_id', 'texto_clean', 'abrev', 'startOffset', 'endOffset'])

In [1843]:
mine.shape

(1996, 6)

In [1846]:
mine.head(50)

,doc_id,texto_clean,tokens,abrev,startOffset,endOffset
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",mm,185,189
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",DAKO,1502,1506
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",HHF,1513,1516
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",CT,408,410
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",MESNA,1120,1125
2,S0004-06142005000900016-1,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...",UIV,400,403
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",IRC,145,148
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",IgA,196,199
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",8mg/Kg,978,984
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",1mg/Kg,1030,1036
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",EEII,1455,1459
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",ROT,1626,1629
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",RCP,1663,1666
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",RMN,1715,1718
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",LCR,1808,1811
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",ELISA,1963,1968
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",PCR,2012,2015
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",HTLV,2047,2051
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",TSP,2207,2210
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",HDA,234,237
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",EEII,829,833
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",EID,866,869
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",ROT,976,979
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",RCP,1040,1043
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",RMN,1135,1138
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",PEES,1385,1389
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",LCR,1435,1438
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",HTLV,1470,1474
4,S0004-06142005001000011-3,mujer 42 años momento someterse trasplante hep...,"[mujer, 42, años, momento, someterse, trasplan...",ELISA,1541,1546
5,S0004-06142005001000016-1,varón 65 años consultaba síndrome obstructivo ...,"[varón, 65, años, consultaba, síndrome, obstru...",PSA,470,473
5,S0004-06142005001000016-1,varón 65 años consultaba síndrome obstructivo ...,"[varón, 65, años, consultaba, síndrome, obstru...",RTU,981,984
6,S0004-06142006000200013-1,paciente 46 años histerectomizada leiomiomas a...,"[paciente, 46, años, histerectomizada, leiomio...",si,1446,1450
7,S0004-06142006000200014-1,"varón 36 años, antecedentes personales interés...","[varón, 36, años, ,, antecedentes, personales,...",cm,179,183
7,S0004-06142006000200014-1,"varón 36 años, antecedentes personales interés...","[varón, 36, años, ,, antecedentes, personales,...",TC,307,309
7,S0004-06142006000200014-1,"varón 36 años, antecedentes personales interés...","[varón, 36, años, ,, antecedentes, personales,...",MDP,616,619
7,S0004-06142006000200014-1,"varón 36 años, antecedentes personales interés...","[varón, 36, años, ,, antecedentes, personales,...",CD,1220,1222
7,S0004-06142006000200014-1,"varón 36 años, antecedentes personales interés...","[varón, 36, años, ,, antecedentes, personales,...",CAM,1315,1318
8,S0004-06142006000300015-1,paciente 50 años antecedente litiasis renal re...,"[paciente, 50, años, antecedente, litiasis, re...",cm,456,460
8,S0004-06142006000300015-1,paciente 50 años antecedente litiasis renal re...,"[paciente, 50, años, antecedente, litiasis, re...",EMA,1711,1714
8,S0004-06142006000300015-1,paciente 50 años antecedente litiasis renal re...,"[paciente, 50, años, antecedente, litiasis, re...",CK,1716,1718
9,S0004-06142006000600014-1,"paciente varón, 40 años edad, antecedentes sal...","[paciente, varón, ,, 40, años, edad, ,, antece...",da,973,977
10,S0004-06142006000600015-1,"paciente varón 47 años edad, hábitos tóxicos a...","[paciente, varón, 47, años, edad, ,, hábitos, ...",FAV,828,831
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",RTU,260,263
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",cm,845,849
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",TAC,1027,1030
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",alfa-feto,1177,1186
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",HCG,1197,1200
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",LDH,1203,1206
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",4 U/l,1216,1221
11,S0004-06142006000700008-1,"presenta caso paciente 76 años edad, alergias ...","[presenta, caso, paciente, 76, años, edad, ,, ...",Alfa-feto,1223,1232

In [1730]:
# mine['abrev'] = mine['abrev'].apply(lambda x: [a.split("/") for a in x])

Check dataframes for one text

In [1406]:
# mine[mine['doc_id'] == 'S1130-05582012000300005-1']

In [1407]:
# train_abbr[train_abbr['doc_id'] == 'S1130-05582012000300005-1']

## Search Long Formns

### Search Long Forms in the same text

**measurement units dictionary**

In [1408]:
# mu_dic = {"mL":"Mililitro",
# "mg":"Miligramo",
# "g":"Gramo",
# "L":"Litro",
# "mcg":"Microgramo",
# "mmol":"Milimol",
# "UI":"Unidades Internacionales",
# "Miles UI":"Miles de Unidades Internacionales",
# "Millones UI":"Millones de Unidades Internacionales",
# "UFC":"Unidades Formadoras de Colonias",
# "mEq":"Miliequivalente",
# "ng":"Nanogramo",
# "Lf":"Unidad Floculante",
# "UFP":"Unidad Formadora de Placa",
# "DIC":"Dosis Infectante Mediana de Cultivo Celular 50% ",
# "DIT":"Dosis Infectante Mediana de Cultivo Tisular 50% ",
# "DI":"Dosis Infectante 50% ",
# "mol":"Peso Molecular Gramo ",
# "Eq":"Peso Equivalente Gramo ",
# "Dosis":"Dosis",
# "Almh":"Almohadilla",
# "Amp":"Ampolla",
# "Anl":"Anillo",
# "Bar":"Barra",
# "Bolsa":"Bolsa",
# "Cap":"Capsula",
# "Car":"Caramelo",
# "Carp":"Carpula",
# "Cart":"Cartucho",
# "Com":"Comprimido",
# "Dia":"Dia",
# "Fras":"Frasco",
# "Fras-Amp":"Frasco Ampolla ",
# "Grag":"Gragea",
# "Hora":"Hora",
# "Imp":"Implante",
# "Jab":"Jab¢n",
# "Jer":"Jeringa Prellenada ",
# "uL":"Microlitro",
# "Ovu":"Ovulo",
# "Parche":"Parche",
# "Past":"Pastilla",
# "Perl":"Perla",
# "Pil":"Pildora",
# "Pip":"Pipeta",
# "%":"Porcentaje",
# "Sach":"Sachet",
# "Sob":"Sobre",
# "Sup":"Supositorio",
# "Tab":"Tableta",
# "Troc":"Trocisco",
# "Vial":"Vial",
# "Kg":"Kilogramo",
# "Gal":"Galon",
# "Sis":"Sistema Terapeutico",
# "mCi":"miliCuries",
# "mBq":"milibequerel",
# "UEL":"Unidades ELISA ",
# "DL":"Dosis Letal",
# "U USP":"Unidades USP ",
# "U":"Unidades",
# "Rot":"Rotacaps",
# "CCID":"Dosis Infecciosa en Cultivo de Célula ",
# "U":"UNIDAD",
# "Otros":"Otros",
# "µ Ci":"mcroCuries",
# "Esp":"Esporas",
# "mcHA":"microgramos de HA ",
# "Gom":"Goma",
# "KIU":"Unidad Inhibidora de Calicreina ",
# "mcel":"Millones de Células ",
# "DU":"Unidades de Antigeno D",
# "Dil D2":"Dil D2",
# "Tin.Mad.":"Tintura Madre",
# "Dil D4":"Dil D4",
# "Dil D5":"Dil D5",
# "Dil D1":"Dil D1",
# "Dil D8":"Dil D8",
# "Dil D3":"Dil D3",
# "OU":"Unidad de Opacidad ",
# "mm": "milimetro",
# "dm": "decimetro",
# "cm": "centimetro"}

In [1409]:
# mine['long_form'] = mine['abrev'].map(mu_dic)

In [1410]:
# mine_lf = mine[mine['abrev'].str.len() > 1].reset_index()

### Get LF before SF

In [1411]:
# mine[mine['doc_id'] == 'S0004-06142005000900013-1'].iloc[0]['tokens']

With get_longform function, words befores SF that starts with SF letters will be detected

In [1847]:
mine['long_form'] = mine.apply(lambda row: get_longform(row['tokens'], row['abrev']), axis = 1)

In [1848]:
mine.head()

,doc_id,texto_clean,tokens,abrev,startOffset,endOffset,long_form
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",mm,185,189,mismo
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",DAKO,1502,1506,demostró actina
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",HHF,1513,1516,-1
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",CT,408,410,
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",MESNA,1120,1125,

In [1849]:
mine.shape

(1996, 7)

### Study LF founded or not founded

Study SF without LF in the running text

In [1850]:
mine[mine['long_form'] == -1].shape

(610, 7)

Check how many texts don't have LF for the SF in the same text

In [1851]:
mine[(mine['abrev'].notnull()) & (mine['long_form']== '')]

,doc_id,texto_clean,tokens,abrev,startOffset,endOffset,long_form
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",CT,408,410,
1,S0004-06142005000900015-1,"varón 36 años, antecedentes interés, estudiado...","[varón, 36, años, ,, antecedentes, interés, ,,...",MESNA,1120,1125,
2,S0004-06142005000900016-1,mujer 29 años antecedentes ulcus duodenal estr...,"[mujer, 29, años, antecedentes, ulcus, duodena...",UIV,400,403,
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",IRC,145,148,
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",8mg/Kg,978,984,
...,...,...,...,...,...,...,...
317,S2340-98942015000100005-1,presentamos caso paciente 62 años diciembre 20...,"[presentamos, caso, paciente, 62, años, diciem...",IIIC,201,205,
317,S2340-98942015000100005-1,presentamos caso paciente 62 años diciembre 20...,"[presentamos, caso, paciente, 62, años, diciem...",CA,426,428,
317,S2340-98942015000100005-1,presentamos caso paciente 62 años diciembre 20...,"[presentamos, caso, paciente, 62, años, diciem...",TAC,465,468,
317,S2340-98942015000100005-1,presentamos caso paciente 62 años diciembre 20...,"[presentamos, caso, paciente, 62, años, diciem...",mmHg,1002,1006,
317,S2340-98942015000100005-1,presentamos caso paciente 62 años diciembre 20...,"[presentamos, caso, paciente, 62, años, diciem...",mg,1428,1432,

In [1852]:
lf_null = mine[(mine['abrev'].notnull()) & (mine['long_form'] == '')].shape[0]
lf_null

903

In [1853]:
print(f"LF has not be found in the same text where the SF is in {lf_null/mine.shape[0]*100: .2f}% of texts")

LF has not be found in the same text where the SF is in  45.24% of texts

**Create dictionary with SF and LF pairs founded in the same text**

In [1854]:
df_pairs = mine[(mine['abrev'].notnull()) & (mine['long_form'] != '')]

In [1855]:
df_pairs.head()

,doc_id,texto_clean,tokens,abrev,startOffset,endOffset,long_form
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",mm,185,189,mismo
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",DAKO,1502,1506,demostró actina
0,S0004-06142005000900013-1,trata mujer 29 años sometida estudio ecográfic...,"[trata, mujer, 29, años, sometida, estudio, ec...",HHF,1513,1516,-1
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",IgA,196,199,irc glomerulonefritis
3,S0004-06142005001000011-1,"varón 58 años edad momento trasplante, 5 octub...","[varón, 58, años, edad, momento, trasplante, ,...",EEII,1455,1459,extremidades

In [1856]:
pairs_dic = {}
for index, row in df_pairs.iterrows():
    if row['long_form'] != -1:
        if not row['abrev'] in pairs_dic:
            pairs_dic[row['abrev']] = set()
        pairs_dic[row['abrev']].add(row['long_form'])

In [1857]:
pairs_dic

{'mm': {'ma',
  'menos',
  'mismo',
  'mostraba',
  'mostró masa',
  'muestra',
  'máxima'},
 'DAKO': {'demostró actina'},
 'IgA': {'ig g', 'inmunoglobulinas', 'irc glomerulonefritis'},
 'EEII': {'exploración', 'extremidades'},
 'ROT': {'reflejo osteo-tendinoso', 'reflejos osteotendinosos'},
 'RCP': {'reflejo cutaneoplantar', 'rotulianos'},
 'RMN': {'realiza',
  'realización',
  'realizron',
  'realizó',
  'replecionada',
  'resonancia magnética nuclear',
  'romberg'},
 'LCR': {'libre', 'lumbar', 'líquido cefalorraquídeo'},
 'PCR': {'polimerasa', 'proteína c reactiva', 'protocolo'},
 'TSP': {'tropical'},
 'EID': {'eeii'},
 'PEES': {'parietal'},
 'RTU': {'realizo',
  'recibió tratamiento',
  'resección transuretral',
  'respondía tratamiento'},
 'FAV': {'fístula arteriovenosa'},
 'alfa-feto': {'análisis'},
 'Alfa-feto': {'análisis'},
 'PSA': {'posmiccional', 'presencia', 'procedió'},
 'CEA': {'carcino embrionario'},
 'FID': {'filiada'},
 'PAAF': {'posterior',
  'previamente',
  'profundo',
  'punción aspiración aguja fina',
  'punción-aspiración aguja'},
 'RM': {'radiólogo',
  'realización',
  'realizó',
  'renal',
  'resonancia magnética'},
 'TAC': {'t4n0m1',
  'tomografia axial computarizada',
  'tomografía',
  'tomografía axial computadorizada',
  'tomografía axial computarizada',
  'tomografía axial computerizada',
  'tras',
  'tumor',
  'tórax'},
 'alfa-FP': {'autopalpación'},
 'AINES': {'amikacina', 'analgesia', 'asintomática', 'año'},
 'pig-tail': {'produciendo ilíacos'},
 'ACL': {'asociadas células'},
 'RNM': {'realizó', 'resonancia nuclear magnética', 'riñón'},
 'va': {'vesical'},
 'u': {'uso'},
 'ml': {'mg/0,1', 'mg/ml'},
 'mg': {'mejoró',
  'metilprednisolona',
  'metronidazol',
  'mezclando',
  'mg-',
  'ml',
  'morfina',
  'muletas'},
 'TBC': {'tuberculosis'},
 'AFP': {'anecoico'},
 'PQ': {'paratesticular'},
 'cm': {'cabeza',
  'calibre',
  'cecal',
  'colectomía',
  'construyó',
  'cuello',
  'cuenta',
  'cuerpo',
  'células mixto'},
 'TTP': {'tp'},
 'sY134': {'sy86'},
 'CK': {'citoqueratina'},
 'N-Cam': {'negatividad'},
 'PET': {'positrones', 'posteriormente'},
 'TC': {'tomografía computadorizada',
  'tomografía computarizada',
  'tomografía computerizada',
  'tras',
  'tratamiento'},
 'pH': {'potasio'},
 'pCO2': {'ph', 'po257'},
 'TGP': {'tgo'},
 'AA': {'amiloide', 'amiloidosis'},
 'ST': {'segmento'},
 'SCACEST': {'síndrome coronario agudo'},
 'CD': {'catenina', 'cd57/', 'coronaria derecha', 'células'},
 'DA': {'descendente anterior'},
 'CX': {'circunfleja'},
 'TAM': {'tensión arterial media'},
 'mmHg': {'media', 'medida'},
 'PVC': {'pulmonar'},
 'PCP': {'pvc'},
 'GC': {'gasto cardíaco'},
 'Swan-Ganz': {'simple'},
 'ECG': {'electrocardiograma'},
 'RVS': {'resistencias vasculares sistémica'},
 'RVP': {'rvs'},
 'ALT': {'ast'},
 'anti-TNF': {'añade'},
 'UCI': {'unidad cuidados intensivos', 'urgencias'},
 'UMI': {'unidad medicina intensiva'},
 'FMO': {'fracaso multiorgánico'},
 'PaO2': {'presión arterial oxígeno'},
 'LDH': {'lacticodeshidrogenasa', 'lactodeshidrogenasa'},
 'FiO2': {'fracción inspirada oxígeno'},
 'PEEP': {'positiva espiración'},
 'DM': {'duración'},
 'TAS': {'tensión arterial sistólica', 'tratamiento'},
 'VMNI': {'ventilación mecánica'},
 'BAL': {'broncoalveolar'},
 'CMV': {'citomegalovirus', 'cultivo'},
 'anti-DNA': {'ana'},
 'ANCAS': {'anti-dna'},
 'VHC': {'vhb'},
 'VIH': {'vhc', 'vhs', 'virus'},
 'HPTS': {'hemodiálisis presenta', 'hiperfosfatemia presentó'},
 'OI': {'od', 'ojo', 'ojo izquierdo'},
 'iPTH': {'intacta'},
 'DR': {'donante'},
 'no-B': {'no-a'},
 'SNC': {'sospecha'},
 'AL': {'amiloidosis'},
 'AI': {'apolipoproteína'},
 'EF': {'edad familiares'},
 'GER': {'gasto energético reposo'},
 'TANITA': {'través'},
 'TBF': {'través bioeléctrica'},
 'COL': {'colesterol'},
 'TG': {'tenía', 'triglicéridos'},
 'NP': {'nutrición parenteral'},
 'GPT': {'got'},
 'gGT': {'gpt'},
 'NE': {'nutrición enteral'},
 'CU': {'colitis ulcerosa'},
 'RN': {'rango normal'},
 'cN2': {'ct4b'},
 'antiDNA': {'ana'},
 'antiRNA': {'antidna'},
 'VEB': {'vih', 'viii/', 'virus epstein barr', 'virus epstein-barr'},
 'GGT': {'gpt'},
 'IgG4': {'ige'},
 'HCT': {'hb'},
 'MGIT': {'micobacterias', 'método'},
 'C-Kit': {'células'},
 'TEP': {'tvp eii'},
 'VSG': {'vcm', 'velocidad sedimentación globular'},
 'CA': {'cea', 'cámara anterior'},
 'IgM': {'iga', 'igg', 'index'},
 'AMA': {'ana'},
 'ANCA': {'ama', 'ana', 'anticitoplasma neutrófilos'},
 'VHS': {'veb', 'virus herpes simple'},
 'PA': {'palidez'},
 'C-GSF': {'concentrados'},
 'BAS': {'bronquial'},
 'DTM': {'desórdenes temporomandibulares'},
 'OD': {'ojo derecho'},
 'AV': {'acude', 'agudeza visual', 'año'},
 'BPA': {'biomicroscopía'},
 'IF': {'intraepitelial'},
 'IgG': {'igm', 'inmunoglobulina g'},
 'SL': {'squibb'},
 'PIO': {'presión intraocular'},
 'NO': {'nervio'},
 'DPAR': {'defecto pupilar aferente relativo'},
 'NOT': {'neuropatía'},
 'AO': {'ambos ojos'},
 'DG': {'diagnósticos'},
 'OCT': {'oct.', 'ojo'},
 'EIA': {'enzimoinmunoensayo'},
 'ac': {'anca'},
 'TFD': {'terapia fotodinámica'},
 'AGF': {'angiografía'},
 'AVI': {'agf verde indocianina', 'angiografía verde indocianina'},
 'DFVA': {'diagnosticado'},
 'rt-PA': {'retina'},
 'ECS': {'eje'},
 'MA': {'membrana amniótica'},
 'ICG': {'indocianina'},
 'HLA': {'histocompatibilidad'},
 'BMU': {'biomicroscopía'},
 'AVSC': {'agudeza visual'},
 'DP': {'diámetros papilares'},
 'DRNS': {'desprendimiento retina neurosensorial'},
 'anti-CCP': {'antipéptido'},
 'FO': {'fondo ojo'},
 'MAVC': {'mejor agudeza visual corregida'},
 'BMC': {'biomicroscopia'},
 'EA': {'estrías angioides', 'evidenciaron'},
 'FA': {'fondo'},
 'hipo-FA': {'hiper-fa irregulares'},
 'AFG': {'angiografía fluoresceínica'},
 'EPR': {'epitelio pigmentario retiniano'},
 'NVC': {'nasales'},
 'GOT': {'gpt'},
 'MID': {'miembro inferior derecho'},
 'AST': {'alt'},
 'EMA': {'epiteliales', 'existía'},
 'EPOC': {'enfermedad pulmonar obstructiva crónica'},
 'MhZ': {'manual'},
 'cc': {'cirugía', 'cohesivo'},
 'LH': {'linfoproliferativa'},
 'RT': {'régimen'},
 'tru-cut': {'tipo'},
 'LNH': {'linfoma'},
 'LLBCP': {'linfoma linfocítico b células pequeñas'},
 'ANOES': {'autoinmunidad'},
 'LPP': {'linfoma pulmonar primario'},
 'RPMB': {'remisión parcial'},
 'SPRL': {'servicio prevención riesgos laborales'},
 'INSS': {'instituto nacional seguridad social'},
 'IAM': {'ingreso', 'isquémica'},
 'RF': {'realizar'},
 'CT': {'computerizada'},
 'NPT': {'nutrición parenteral'},
 'APC': {'argón plasma'},
 'MELAN': {'maligno'},
 'TVTLF': {'tronco venoso tirolinguofacial'},
 'SMR': {'servicio mismo'},
 'ORN': {'ortopantomografía'},
 'in': {'infiltrante'},
 'mV': {'meses'},
 'XI': {'x'},
 'XII': {'xi'},
 'SPM': {'sospecha'},
 'iv': {'inicialmente', 'intravenoso'},
 'mFOLFOX': {'metástasis'},
 'P-INF': {'primer'},
 'ALAT': {'aumentadas'},
 'ASAT': {'alat'},
 'anti-VIH': {'anticuerpos'},
 'LBA': {'lavado broncoalveolar'},
 'et': {'estrategia'},
 'ECMO': {'extracorpórea'},
 'mL': {'mg'},
 'EVA': {'escala visual analógica'},
 'LCCT': {'línea'},
 'CDI': {'cockcroft-gault diagnostica'},
 'anti-Xa': {'además'},
 'AP': {'acudió', 'atención primaria'},
 'si': {'sensación'},
 'TB': {'tuberculosis'},
 'PFP': {'pruebas función pulmonar'},
 'ESCHAP': {'esquema'},
 'PCA': {'planificar'},
 'DII': {'derivación'},
 'A-P': {'antero-posterior'},
 'LLA': {'leucemia linfoblástica aguda'},
 'SHOP': {'según'},
 'SDRC': {'sufre diagnostica'},
 'BD': {'bt'},
 'HSA': {'hemorragia subaracnoidea'},
 'HPV': {'hibridación'},
 'LLI': {'lle'},
 'AAS': {'añadimos'},
 'AAT': {'analítico aprecia'},
 'D-AAT': {'diagnosticada'},
 'VVZ': {'virus varicela zóster'},
 'McConkey': {'medio'},
 'ECE': {'enteroscopia cápsula endoscópica', 'estudio'},
 'HBPM': {'heparina'},
 'RX': {'radiografía'},
 'STIR': {'señal'},
 'HQR': {'hamartoma quístico retrorrectal'},
 'HTA': {'hipotiroidismo tratamiento'},
 'TAP': {'transabdominal'},
 'TSOH': {'test sangre oculta heces'},
 'VHB': {'vha'},
 'AEO': {'aparatología extraoral'},
 'UCIP': {'unidad cuidados intensivos pediátrica'},
 'TSH': {'triglicéridos'},
 'PTH': {'paratiroidea'},
 'HTBI': {'hiperfosfatasemia transitoria'},
 'IgE': {'igg'},
 'ASLO': {'antiestreptolisina'},
 'anti-ADN': {'anticuerpos'},
 'ANA': {'antinucleares'},
 'ENA': {'extraíbles núcleo'},
 'EBHGA': {'estreptococo'},
 'EFK': {'excreción fraccional'},
 'EMG': {'electromiografía', 'electromiograma'},
 'CPK': {'creatinfosfocinasa'},
 'IGRA': {'interferon-gamma'},
 'NJ': {'nuevo'},
 'PLGA': {'practicó local'},
 'ATM': {'articulación temporomandibular'},
 'DAI': {'decide'},
 'PRC': {'programa rehabilitación cardiaca'},
 'BA': {'balance articular'},
 'BM': {'balance muscular'},
 'ELA': {'esclerosis lateral amiotrófica'},
 'MMII': {'miembros', 'motor miembros inferiores'},
 'ENG': {'electroneurografía'},
 'MMSS': {'miembros'},
 'PEG': {'percutánea'},
 'PNJ': {'pneumocystis'},
 'PCT': {'pnj'},
 'TENS': {'tipo'},
 'UMO': {'unidad metabólica'},
 'TCS': {'tejido celular subcutáneo'}}

In [1858]:
sorted(pairs_dic.keys())

['A-P',
 'AA',
 'AAS',
 'AAT',
 'ACL',
 'AEO',
 'AFG',
 'AFP',
 'AGF',
 'AI',
 'AINES',
 'AL',
 'ALAT',
 'ALT',
 'AMA',
 'ANA',
 'ANCA',
 'ANCAS',
 'ANOES',
 'AO',
 'AP',
 'APC',
 'ASAT',
 'ASLO',
 'AST',
 'ATM',
 'AV',
 'AVI',
 'AVSC',
 'Alfa-feto',
 'BA',
 'BAL',
 'BAS',
 'BD',
 'BM',
 'BMC',
 'BMU',
 'BPA',
 'C-GSF',
 'C-Kit',
 'CA',
 'CD',
 'CDI',
 'CEA',
 'CK',
 'CMV',
 'COL',
 'CPK',
 'CT',
 'CU',
 'CX',
 'D-AAT',
 'DA',
 'DAI',
 'DAKO',
 'DFVA',
 'DG',
 'DII',
 'DM',
 'DP',
 'DPAR',
 'DR',
 'DRNS',
 'DTM',
 'EA',
 'EBHGA',
 'ECE',
 'ECG',
 'ECMO',
 'ECS',
 'EEII',
 'EF',
 'EFK',
 'EIA',
 'EID',
 'ELA',
 'EMA',
 'EMG',
 'ENA',
 'ENG',
 'EPOC',
 'EPR',
 'ESCHAP',
 'EVA',
 'FA',
 'FAV',
 'FID',
 'FMO',
 'FO',
 'FiO2',
 'GC',
 'GER',
 'GGT',
 'GOT',
 'GPT',
 'HBPM',
 'HCT',
 'HLA',
 'HPTS',
 'HPV',
 'HQR',
 'HSA',
 'HTA',
 'HTBI',
 'IAM',
 'ICG',
 'IF',
 'IGRA',
 'INSS',
 'IgA',
 'IgE',
 'IgG',
 'IgG4',
 'IgM',
 'LBA',
 'LCCT',
 'LCR',
 'LDH',
 'LH',
 'LLA',
 'LLBCP',
 'LLI',
 'LNH',
 'LPP',
 'MA',
 'MAVC',
 'MELAN',
 'MGIT',
 'MID',
 'MMII',
 'MMSS',
 'McConkey',
 'MhZ',
 'N-Cam',
 'NE',
 'NJ',
 'NO',
 'NOT',
 'NP',
 'NPT',
 'NVC',
 'OCT',
 'OD',
 'OI',
 'ORN',
 'P-INF',
 'PA',
 'PAAF',
 'PCA',
 'PCP',
 'PCR',
 'PCT',
 'PEEP',
 'PEES',
 'PEG',
 'PET',
 'PFP',
 'PIO',
 'PLGA',
 'PNJ',
 'PQ',
 'PRC',
 'PSA',
 'PTH',
 'PVC',
 'PaO2',
 'RCP',
 'RF',
 'RM',
 'RMN',
 'RN',
 'RNM',
 'ROT',
 'RPMB',
 'RT',
 'RTU',
 'RVP',
 'RVS',
 'RX',
 'SCACEST',
 'SDRC',
 'SHOP',
 'SL',
 'SMR',
 'SNC',
 'SPM',
 'SPRL',
 'ST',
 'STIR',
 'Swan-Ganz',
 'TAC',
 'TAM',
 'TANITA',
 'TAP',
 'TAS',
 'TB',
 'TBC',
 'TBF',
 'TC',
 'TCS',
 'TENS',
 'TEP',
 'TFD',
 'TG',
 'TGP',
 'TSH',
 'TSOH',
 'TSP',
 'TTP',
 'TVTLF',
 'UCI',
 'UCIP',
 'UMI',
 'UMO',
 'VEB',
 'VHB',
 'VHC',
 'VHS',
 'VIH',
 'VMNI',
 'VSG',
 'VVZ',
 'XI',
 'XII',
 'ac',
 'alfa-FP',
 'alfa-feto',
 'anti-ADN',
 'anti-CCP',
 'anti-DNA',
 'anti-TNF',
 'anti-VIH',
 'anti-Xa',
 'antiDNA',
 'antiRNA',
 'cN2',
 'cc',
 'cm',
 'et',
 'gGT',
 'hipo-FA',
 'iPTH',
 'in',
 'iv',
 'mFOLFOX',
 'mL',
 'mV',
 'mg',
 'ml',
 'mm',
 'mmHg',
 'no-B',
 'pCO2',
 'pH',
 'pig-tail',
 'rt-PA',
 'sY134',
 'si',
 'tru-cut',
 'u',
 'va']

In [1423]:
len(pairs_dic.keys())

252

## Check text individually

In [1609]:
texto = train_raw.iloc[3]['texto']
texto

'Varón de 58 años de edad en el momento del trasplante, el 5 de octubre de 1998.\nEn programa de diálisis peritoneal desde enero del mismo año por IRC progresiva secundaria a glomerulonefritis tipo IgA con esclerosis focal y segmentaria asociada diagnosticada en 1984.\nOtros antecedentes de interés: hipertensión arterial diagnosticada en 1982, en tratamiento farmacológico, cardiopatía isquémica por enfermedad coronaria con angioplastia transluminal de la coronaria derecha en 1994 (desde entonces asintomático, pruebas de esfuerzo posteriores negativas), dislipemia tipo II. Intervenido de criptorquídia bilateral y amigdalectomizado en juventud.\nEl trasplante renal cursó sin incidencias (riñón izquierdo en fosa ilíaca derecha con 2 arterias en parche único y vena que se abocan a ilíacas externas), con función eficaz inmediata del injerto, sin rechazo agudo y niveles elevados de ciclosporina sin toxicidad clínica aparente. El paciente recibe tratamiento con ciclosporina 8mg/Kg, micofenolato mofetilo 2gr/día, y prednisona 1mg/Kg, disminuyendo progresivamente las cifras en controles posteriores.\nEn septiembre de 2000 (a los 2 años del trasplante), el paciente refiere por primera vez sensación de inestabilidad a la marcha y temblores en las manos que aumentan progresivamente iniciándose estudio por Servicio de neurología. En el momento del estudio el paciente presenta inestabilidad de la marcha, parestesias en ambas extremidades inferiores (EEII) y temblores en manos. A la exploración física no se observa déficit motor pero sí disminución de la sensibilidad vibratoria en ambas EEII, reflejos osteotendinosos (ROT) vivos y reflejo cutaneoplantar (RCP) en extensión. La resonancia magnética nuclear (RMN) no mostró lesiones a nivel cerebral o espinal, el análisis del líquido cefalorraquídeo (LCR) mostró pleocitosis linfocitaria sin bandas oligoclonales, los potenciales evocados resultaron alterados a nivel tibial y fueron los test serológicos, ELISA, y la reacción en cadena de la polimerasa (PCR) los que fueron positivos para HTLV-I en LCR y sangre en el primer caso y en sangre la PCR. Se demostró una alta carga viral.\nEl paciente fue diagnosticado de paraparesia espástica tropical (TSP), y a pesar de repetidos pulses de 6-Metil-Prednisolona, evoluciona de forma progresiva. Ha rechazado tratamiento con Interferón por la posibilidad de rechazo del trasplante.Desde punto vista de la función renal, en todo momento se ha mantenido correcta con niveles de creatinina oscilantes entre 1-1-2.\nHa sido estudiado por nuestro Servicio por cuadro de urgencia miccional con escapes y micción a gotas ocasionalmente. Se confirmó mediante estudio radiográfico y urodinámico la existencia de una vejiga hiperrefléxica y una gran litiasis vesical que se extrajo mediante cistolitotomía sin incidencias postoperatorias en diciembre de 2003.\nEn estos momentos el paciente es dependiente para funciones básicas de la vida diaria como aseo, deambulación (se desplaza en silla de ruedas), alimentación (no es capaz de sostener una cuchara)\n'

In [1606]:
patron3 = r'[A-Z]{2,8}' #Letras mayúsculas entre 2 y 8. Probar (\s|\()[A-Z]{2,8}
patron4 = r'\s[a-z]{1,2}\s' #Entre 2 y 3 letras minusculas entre espacios
patron5 = r'\b[aA-zZ]{1,4}\-[aA-zZ]{1,4}\b' #mayúsuclas o minúsculas entre guiones
patron6 = r'[1-9]\s*[aA-zZ]{1,4}\/\b[aA-zZ]{1,4}\b' #Palabras divididas por / solo cuando las palabras no exceden de 4 caracteres
patron7 = r'[aA-zZ]{1,4}[A-Z]+[a-z]*[1-4]*'
#patron8 = r'\/[a-z]*[A-Z]*'


# create a list with them
regexes = [ patron3, patron4, patron5, patron6, patron7]
for i in regexes:
    generic_re = re.compile("%s|%s|%s|%s|%s" % (patron3, patron4, patron5, patron6, patron7))

In [1610]:
sf = generic_re.findall(texto)

In [1612]:
sf_clean =  [i.strip() for i in sf if i.strip() not in swords]
sf_clean

['IRC',
 'IgA',
 'II',
 '8mg/Kg',
 '1mg/Kg',
 'EEII',
 'EEII',
 'ROT',
 'RCP',
 'RMN',
 'LCR',
 'ELISA',
 'PCR',
 'HTLV',
 'LCR',
 'PCR',
 'TSP']

In [1587]:
for i in punctuation:
    sf_clean = [a.replace(i,"") for a in sf_clean]
sf_clean

['IRC',
 'IgA',
 'II',
 '8mgKg',
 '1mgKg',
 'EEII',
 'EEII',
 'ROT',
 'RCP',
 'RMN',
 'LCR',
 'ELISA',
 'PCR',
 'HTLV',
 'LCR',
 'PCR',
 'TSP',
 'MetilPredniso']

In [1549]:
texto_clean = texto.split()

In [1550]:
texto_clean = ' '.join([w for w in texto_clean if w not in swords])

In [1551]:
for i in punctuation:
    texto_clean = texto_clean.replace(i,'').lower()

In [1552]:
#texto_clean

In [1553]:
tokens = word_tokenize(texto_clean)
#tokens

In [1554]:
for sf in sf_clean:
    a = get_longform(tokens, sf)
    print(f"Esta es la short form y su forma larga\n ({sf},{a})")

Esta es la short form y su forma larga
 (EPOC,)
Esta es la short form y su forma larga
 (III,-1)
Esta es la short form y su forma larga
 (IV,-1)
Esta es la short form y su forma larga
 (NYHA,)
Esta es la short form y su forma larga
 (leucocitosmm,-1)
Esta es la short form y su forma larga
 (gdl,)
Esta es la short form y su forma larga
 (HCT,hb)
Esta es la short form y su forma larga
 (VCM,)
Esta es la short form y su forma larga
 (PLQ,)
Esta es la short form y su forma larga
 (mm,-1)
Esta es la short form y su forma larga
 (pH,)
Esta es la short form y su forma larga
 (pO257,ph)
Esta es la short form y su forma larga
 (pCO2,po257)
Esta es la short form y su forma larga
 (HCO,-1)
Esta es la short form y su forma larga
 (SatO2,)
Esta es la short form y su forma larga
 (MGIT,micobacterias)
Esta es la short form y su forma larga
 (mgd,-1)
Esta es la short form y su forma larga
 (,-1)
Esta es la short form y su forma larga
 (,-1)
Esta es la short form y su forma larga
 (leucocitosmm,-1)
Esta es la short form y su forma larga
 (MGIT,micobacterias)
Esta es la short form y su forma larga
 (MGIT,micobacterias)
Esta es la short form y su forma larga
 (uellerH,-1)
Esta es la short form y su forma larga
 (PCR,)
Esta es la short form y su forma larga
 (rDNA,)