# Library

In [343]:
import pandas as pd
import numpy as np
import os
import re
import collections
#from gensim.parsing.preprocessing import remove_stopwords
import nltk
from nltk.corpus import stopwords
import itertools 
from nltk.tokenize import word_tokenize
from string import punctuation

from nltk import ngrams

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

# Functions

In [2]:
def read_texts(path):
    data = []
    file_name = os.listdir(path)

    for name in file_name:
        if name.endswith('.txt'):
            with open(path + name) as f:
                text = f.read()
                data.append({'nombre':name.replace('.txt',''), 'texto':text})

    df = pd.DataFrame(data)
    return df

In [3]:
# def filter_byindex(x,y):
#     #selectors = [x for x in col2]
#     return list(itertools.compress(x,y))

In [4]:
def check_len(x,y):
    if x==y:
        return 0
    else:
        return 1

In [254]:
def get_lf(i,j,k):
    if pd.isnull(k):
        regex_lf = re.compile(r'((?:\w+\W+){1,'+str(len(i))+'})\(\s'+i[0]+'.*\)')
        return regex_lf.findall(j)
    else:
        return k

In [316]:
def ngram_filter(doc, word, n):
    tokens = doc.split()
    all_ngrams = ngrams(tokens, n)
    filtered_ngrams = [x for x in all_ngrams if word in x]
    return filtered_ngrams

# Load Data

### Testing

220 clinical cases.

In [5]:
testing_abbr = pd.read_csv("../datasets/testing_set/clinical_cases.abbreviations.testing_set.tsv", sep = '\t')
testing_met = pd.read_csv("../datasets/testing_set/clinical_cases.metadata.testing_set.tsv", sep = '\t')
testing_rel = pd.read_csv("../datasets/testing_set/clinical_cases.relations.testing_set.tsv", sep = '\t')

In [6]:
testing_met.head()

,# Document_ID,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1130-01082006000700014-1.txt,1.txt,1130-0108,2006-07-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-01082007000300006-7.txt,7.txt,1130-0108,2007-03-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S1134-80462009000100005-1.txt,1.txt,1134-8046,2009-02-01,Revista de la Sociedad Española del Dolor v.1...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S1137-66272014000300015-1.txt,1.txt,1137-6627,2014-12-01,Anales del Sistema Sanitario de Navarra v.37 ...,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0365-66912004001200011-1.txt,1.txt,0365-6691,2004-12-01,Archivos de la Sociedad Española de Oftalmolog...,http://scielo.isciii.es/scielo.php?script=sci_...

In [7]:
testing_rel = testing_rel.reset_index()

In [8]:
testing_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [9]:
testing_rel = testing_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [10]:
testing_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S0211-69952013000500019-1,SHORT_FORM,3739,ARA II,SHORT-LONG,LONG_FORM,3695,3737,antagonista del receptor de angiotesina II
1,S0211-69952013000500019-1,SHORT_FORM,2793,PCR,SHORT-LONG,LONG_FORM,2798,2837,reacción en cadena de enzima polimerasa
2,S0365-66912004000600008-1,SHORT_FORM,406,AV,SHORT-LONG,LONG_FORM,390,404,agudeza visual
3,S0211-69952012000500025-1,SHORT_FORM,945,angio-TAC,SHORT-LONG,LONG_FORM,908,943,angiotomografía computarizada axial
4,S1130-05582017000200122-1,SHORT_FORM,940,RMN,SHORT-LONG,LONG_FORM,910,938,resonancia magnética nuclear

In [11]:
testing_rel.Relation_type.unique()

array(['SHORT-LONG', 'SHORT-NESTED', 'NESTED-LONG'], dtype=object)

In [12]:
testing_abbr = testing_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [13]:
testing_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0004-06142010000500014-1,2037,2044,16SrRNA,16s ribosomal rna,16s ribosomal rno
1,S0004-06142010000500014-1,1349,1351,M.,mycobacterium,mycobacterium
2,S0004-06142010000500014-1,1339,1342,PCR,polymerase chain reaction,polymerase chain reaction
3,S0004-06142010000500014-1,611,615,BHCG,beta-human chorionic gonadotropin,beta-humar chorionic gonadotropin
4,S0004-06142010000500014-1,594,597,CEA,carcinoembrionary antigen,carcinoembrionary antiger

In [14]:
testing_raw = read_texts("../datasets/testing_set/testing_set.raw_text/")

In [15]:
testing_raw.head()

,nombre,texto
0,S1139-76322009000700016-1,Paciente de sexo femenino de 13 años y 7 meses...
1,S0210-48062007000700015-1,Varón de 72 años con antecedentes personales d...
2,S0212-71992005000500009-1,"Varón de 81 años, con antecedentes de fibrilac..."
3,S0365-66912004001200011-1,Paciente varón de 52 años que acudió a urgenci...
4,S1130-01082009000900015-1,Varón de 54 años con episodios de pancreatitis...

### Backgound

2879 clinical cases. 220 will be use for clinical evaluation

In [16]:
back_met = pd.read_csv("../datasets/background_test/clinical_cases.metadata.background_set.tsv", sep = '\t')

In [17]:
back_met = back_met.rename(columns = {'# Document_ID': 'doc_id'})

In [18]:
back_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S0325-00752010000100014.txt,1.txt,0325-0075,02/2010,Archivos argentinos de pediatría,http://www.scielo.org.ar/scielo.php?script=sci...
1,S0325-00752013000200014.txt,1.txt,0325-0075,04/2013,Archivos argentinos de pediatría,http://www.scielo.org.ar/scielo.php?script=sci...
2,S0325-00752011000400017.txt,1.txt,0325-0075,08/2011,Archivos argentinos de pediatría,http://www.scielo.org.ar/scielo.php?script=sci...
3,S0325-00752013000600022.txt,1.txt,0325-0075,12/2013,Archivos argentinos de pediatría,http://www.scielo.org.ar/scielo.php?script=sci...
4,S0325-00752008000500013.txt,1.txt,0325-0075,10/2008,Archivos argentinos de pediatría,http://www.scielo.org.ar/scielo.php?script=sci...

In [19]:
back_raw = read_texts("../datasets/background_test/background_test_set/")

In [20]:
back_raw.head()

,nombre,texto
0,S0212-71992004000800006-1,Mujer de 57 años de edad con antecedentes pers...
1,S0716-10182014000100007-1,Se recibió en el Hospital Veterinario Puente A...
2,S1130-01082009000200016-1,"Mujer de 47 años de edad, sin antecedentes de ..."
3,S0716-10182015000400016-1,"Escolar de 11 años de edad, género femenino, s..."
4,S1130-01082004001200010-2,"Varón de 25 años, remitido a nuestro Servicio ..."

### Development

146 clinical cases

In [21]:
dev_abbr = pd.read_csv("../datasets/development_set/clinical_cases.abbreviations.development_set.tsv", sep = '\t')
dev_met = pd.read_csv("../datasets/development_set/clinical_cases.metadata.development_set.tsv", sep = '\t')
dev_rel = pd.read_csv("../datasets/development_set/clinical_cases.relations.development_set.tsv", sep = '\t')

In [22]:
dev_met = dev_met.rename(columns = {'# Document_ID': 'doc_id'})

In [23]:
dev_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1130-14732005000300004-1.txt,1.txt,1130-1473,2005-06-01,Neurocirugía v.16 n.3 2005,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-01082008000200009-1.txt,1.txt,1130-0108,2008-02-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S1137-66272012000300021-1.txt,1.txt,1137-6627,2012-12-01,Anales del Sistema Sanitario de Navarra v.35 ...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S1699-695X2016000200010-1.txt,1.txt,1699-695X,2016-06-01,Revista Clínica de Medicina de Familia v.9 n....,http://scielo.isciii.es/scielo.php?script=sci_...
4,S1130-01082007001100009-1.txt,1.txt,1130-0108,2007-11-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...

In [24]:
dev_rel = dev_rel.reset_index()

In [25]:
dev_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [26]:
dev_rel = dev_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [27]:
dev_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S1888-75462015000400006-1,SHORT_FORM,1436,AP,SHORT-LONG,LONG_FORM,1419,1434,anteroposterior
1,S0210-56912009000700006-2,SHORT_FORM,876,angio-RMN,SHORT-LONG,LONG_FORM,858,874,angiorresonancia
2,S0210-56912009000700006-2,SHORT_FORM,819,RMN,SHORT-LONG,LONG_FORM,789,817,resonancia magnética nuclear
3,S1698-44472005000300015-1,SHORT_FORM,209,ATM,SHORT-LONG,LONG_FORM,177,207,articulación témporomandibular
4,S1698-44472005000300015-1,SHORT_FORM,1125,TC,SHORT-LONG,LONG_FORM,1099,1123,tomografía computerizada

In [28]:
dev_abbr = dev_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [29]:
dev_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S1130-14732005000300004-1,1216,1218,C3,tercera vértebra cervical,tercero vértebra cervical
1,S1130-14732005000300004-1,717,719,C2,segunda vértebra cervical,segundo vértebra cervical
2,S1130-14732005000300004-1,3191,3193,C3,tercera vértebra cervical,tercero vértebra cervical
3,S1130-14732005000300004-1,2867,2869,C3,tercera vértebra cervical,tercero vértebra cervical
4,S1130-14732005000300004-1,2862,2864,C2,segunda vértebra cervical,segundo vértebra cervical

In [30]:
dev_raw = read_texts("../datasets/development_set/development_set.raw_text/")

In [31]:
dev_raw.head()

,nombre,texto
0,S1139-76322017000200010-1,Niña de dos años y diez meses con antecedentes...
1,S0365-66912005001100008-1,Se presenta el caso de un varón de 45 años que...
2,S1130-01082006001000017-1,Mujer de 42 años de edad con antecedentes pers...
3,S0212-71992005001200008-1,Paciente de 57 años con ingresos hospitalarios...
4,S0365-66912007000300010-1,Paciente de 33 años que el 20-08-05 es traslad...

### Sample test

15 clinical cases

In [44]:
sample_abbr = pd.read_csv("../datasets/sample_set/clinical_cases.abbreviations.sample_set.tsv", sep = '\t')
sample_met = pd.read_csv("../datasets/sample_set/clinical_cases.metadata.sample_set.tsv", sep = '\t')
sample_rel = pd.read_csv("../datasets/sample_set/clinical_cases.relations.sample_set.tsv", sep = '\t')

In [45]:
sample_met = sample_met.rename(columns = {'# Document_ID': 'doc_id'})

In [46]:
sample_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S0004-06142006000900015-1,1,0004-0614,2006-11-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
1,S0004-06142006000600015-1,1,0004-0614,2006-08-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S0004-06142007000700014-1,1,0004-0614,2007-09-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S0004-06142007000900013-1,1,0004-0614,2007-11-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0004-06142006000200014-1,1,0004-0614,2006-03-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...

In [47]:
sample_rel = sample_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [48]:
sample_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A_EndOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S0004-06142006000700014-1,SHORT_FORM,926,929,CEA,SHORT-LONG,LONG_FORM,896,924,Antígeno Carcino Embrionario
1,S0004-06142005001000011-1,SHORT_FORM,1626,1629,ROT,SHORT-LONG,LONG_FORM,1600,1624,reflejos osteotendinosos
2,S0004-06142005001000011-1,SHORT_FORM,1715,1718,RMN,SHORT-LONG,LONG_FORM,1685,1713,resonancia magnética nuclear
3,S0004-06142005001000011-1,SHORT_FORM,1663,1666,RCP,SHORT-LONG,LONG_FORM,1639,1661,reflejo cutaneoplantar
4,S0004-06142005001000011-1,SHORT_FORM,1808,1811,LCR,SHORT-LONG,LONG_FORM,1783,1806,líquido cefalorraquídeo

In [49]:
sample_abbr = sample_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [50]:
sample_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0004-06142005001000011-1,1034,1036,Kg,kilogramo,kilogramo
1,S0004-06142005001000011-1,1031,1033,mg,miligramo,miligramo
2,S0004-06142005001000011-1,196,199,IgA,inmunoglobulina a,inmunoglobulina a
3,S0004-06142005001000011-1,2057,2060,LCR,líquido cefalorraquídeo,líquido cefalorraquídeo
4,S0004-06142005001000011-1,1594,1598,EEII,extremidades inferiores,extremidad inferior

In [51]:
sample_raw = read_texts("../datasets/sample_set/sample_set.raw_text/")

In [52]:
sample_raw.head()

,nombre,texto
0,S0004-06142006000600014-1,"Paciente varón, de 40 años de edad, con antece..."
1,S0004-06142006000300015-1,Paciente de 50 años con antecedente de litiasi...
2,S0004-06142007000900013-1,Presentamos el caso de un recién nacido de tre...
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...
4,S0004-06142006000700013-1,"Paciente varón, de 63 años de edad, mestizo, d..."

### Trainning

318 clinical cases

In [32]:
train_abbr = pd.read_csv("../datasets/trainning_set/clinical_cases.abbreviations.training_set.tsv", sep = '\t')
train_met = pd.read_csv("../datasets/trainning_set/clinical_cases.metadata.training_set.tsv", sep = '\t')
train_rel = pd.read_csv("../datasets/trainning_set/clinical_cases.relations.training_set.tsv", sep = '\t')

In [33]:
train_met = train_met.rename(columns = {'# Document_ID': 'doc_id'})

In [34]:
train_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1139-76322015000500009-1.txt,1.txt,1139-7632,2015-12-01,Pediatría Atención Primaria v.17 n.68 2015,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-05582008000400007-2.txt,2.txt,1130-0558,2008-08-01,Revista Española de Cirugía Oral y Maxilofacia...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S0210-48062006000100012-1.txt,1.txt,0210-4806,2006-01-01,Actas Urológicas Españolas v.30 n.1 2006,http://scielo.isciii.es/scielo.php?script=sci_...
3,S0213-12852003000500002-1.txt,1.txt,0213-1285,2003-10-01,Avances en Odontoestomatología v.19 n.5 2003,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0212-71992005000400007-1.txt,1.txt,0212-7199,2005-04-01,Anales de Medicina Interna v.22 n.4 2005,http://scielo.isciii.es/scielo.php?script=sci_...

In [35]:
train_rel = train_rel.reset_index()

In [36]:
train_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [37]:
train_rel = train_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [38]:
train_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S1130-01082009000400014-1,SHORT_FORM,476,NPT,SHORT-LONG,LONG_FORM,454.0,474.0,nutrición parenteral
1,S1130-63432016000100009-1,SHORT_FORM,614,NIHSS,SHORT-LONG,LONG_FORM,621.0,662.0,National Institute of Health Stroke Scale
2,S1139-76322017000200007-1,SHORT_FORM,1145,CMV,SHORT-LONG,LONG_FORM,1128.0,1143.0,citomegalovirus
3,S1139-76322017000200007-1,SHORT_FORM,1243,VSG,SHORT-LONG,LONG_FORM,1206.0,1241.0,velocidad de sedimentación globular
4,S1139-76322017000200007-1,SHORT_FORM,1300,IGRA,SHORT-LONG,LONG_FORM,1267.0,1298.0,interferon-gamma release assays

In [39]:
train_abbr = train_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [40]:
train_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0210-48062004000500008-1,1650,1652,ml,mililitro,mililitro
1,S0210-48062004000500008-1,708,709,l,litro,litro
2,S0210-48062004000500008-1,704,707,mEq,miliequivalente,miliequivalente
3,S0210-48062004000500008-1,677,681,pCO2,presión parcial de co2,presión parcial de co2
4,S0210-48062004000500008-1,2287,2290,HLA,human leucocyte antigen,human leucocyte antiger

In [108]:
train_raw = read_texts("../datasets/trainning_set/training_set.raw_text/")

In [109]:
train_raw = train_raw.rename(columns = {'nombre': 'doc_id'})

In [110]:
train_raw.head()

,doc_id,texto
0,S1130-05582012000300005-1,Acude a nuestras consultas a un paciente que p...
1,S0212-71992005000400009-1,"Se trataba de un varón de 27 años de edad, que..."
2,S0004-06142008000700015-2,Varón de 33 años fumador de un paquete de ciga...
3,S0210-56912006000800008-1,"Hombre de 42 años, bebedor de más de 100 g de ..."
4,S0376-78922009000300010-1,Paciente de 18 años de edad que 5 meses antes ...

# Sub-track 1

## Found abbreviations (Short Forms)

### Regex

In [53]:
#patron = r'\(([A-Z]{2,8})\)'
#patron1 = r'\s[A-Z]{1,3}\s'
#patron2 = r'\s[a-z]{1,3}\s'
patron3 = r'[A-Z]{2,8}'
patron4 = r'\s[a-z]{1,2}\s'
patron5 = r'[a-z]+\-[A-Z]{1,8}'
patron6 = r'[a-z]+\/[a-z]+'
patron7 = r'[A-Z]?[a-z]{1,4}[A-Z]+[a-z]*[1-9]*'
patron8 = r'\/[a-z]*[A-Z]*'


# create a list with them
regexes = [ patron3, patron4, patron5, patron6, patron7,patron8]
for i in regexes:
    generic_re = re.compile("%s|%s|%s|%s|%s|%s" % (patron3, patron4, patron5, patron6, patron7,patron8))

In [58]:
#nltk.download('stopwords')
swords = list(set(stopwords.words('spanish')))

**Get Short Formns with a regex in each text**

In [111]:
train_raw['abrev'] = train_raw['texto'].map(lambda x: generic_re.findall(x))

In [60]:
# train_raw['offse'] = train_raw['texto'].map(lambda x: generic_re.search(x).span())

**Get offsets of the Short Forms founded in the text**

In [112]:
train_raw['offse'] = train_raw['texto'].map(lambda x: [(m.start(0), m.end(0)) for m in re.finditer(generic_re, x)])

In [113]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [i.strip() for i in x])

Filter Short Forms to delete ones which are stopwords, get their index too for filter offsets lists later

In [114]:
train_raw['abrev_index'] = train_raw['abrev'].apply(lambda x: [x.index(i) for i in x if i not in swords])

In [115]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [i for i in x if i not in swords])

Filter offsets lists by index

In [116]:
train_raw['offse'] = train_raw.apply(lambda x: [x['offse'][i] for i in x['abrev_index']], axis = 1)

In [117]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index
0,S1130-05582012000300005-1,Acude a nuestras consultas a un paciente que p...,"[RM, PAAF]","[(789, 791), (1006, 1010)]","[24, 31]"
1,S0212-71992005000400009-1,"Se trataba de un varón de 27 años de edad, que...","[/mm, /mm, mg/dl, mg/dl, mg/dl, mg/dl, LDH, UI...","[(1056, 1059), (1056, 1059), (1247, 1252), (12...","[36, 36, 44, 44, 44, 44, 50, 51, 52, 53, 51, 5..."
2,S0004-06142008000700015-2,Varón de 33 años fumador de un paquete de ciga...,[],[],[]
3,S0210-56912006000800008-1,"Hombre de 42 años, bebedor de más de 100 g de ...","[g, mg/dl, mg/dl, mg/dl, AST, /l, ALT, /l, GGT...","[(40, 43), (654, 659), (654, 659), (654, 659),...","[3, 23, 23, 23, 26, 27, 28, 27, 30, 31, 32, 39..."
4,S0376-78922009000300010-1,Paciente de 18 años de edad que 5 meses antes ...,[],[],[]

Check abrev and offse columns has the same length

In [118]:
train_raw['abrev_len'] =train_raw['abrev'].str.len()
train_raw['offse_len'] =train_raw['offse'].str.len()

In [363]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean
0,S1130-05582012000300005-1,Acude a nuestras consultas a un paciente que p...,"[RM, PAAF]","[(789, 791), (1006, 1010)]","[24, 31]",2,2,0,Acude consultas paciente presenta tumoración c...
1,S0212-71992005000400009-1,"Se trataba de un varón de 27 años de edad, que...","[, mm, , mm, mg, dl, mg, dl, mg, dl, mg, dl, L...","[(1056, 1059), (1056, 1059), (1247, 1252), (12...","[36, 36, 44, 44, 44, 44, 50, 51, 52, 53, 51, 5...",43,43,0,"Se trataba varón 27 años edad , sufrido neumon..."
2,S0004-06142008000700015-2,Varón de 33 años fumador de un paquete de ciga...,[],[],[],0,0,0,Varón 33 años fumador paquete cigarrillos día ...
3,S0210-56912006000800008-1,"Hombre de 42 años, bebedor de más de 100 g de ...","[g, mg, dl, mg, dl, mg, dl, AST, , l, ALT, , l...","[(40, 43), (654, 659), (654, 659), (654, 659),...","[3, 23, 23, 23, 26, 27, 28, 27, 30, 31, 32, 39...",25,25,0,"Hombre 42 años , bebedor 100 g etanol día , an..."
4,S0376-78922009000300010-1,Paciente de 18 años de edad que 5 meses antes ...,[],[],[],0,0,0,Paciente 18 años edad 5 meses sido víctima gra...

Check both lists have the same lenght

In [120]:
train_raw['len_check'] = train_raw.apply(lambda row: check_len(row['abrev_len'],row['offse_len']),axis = 1)

Delete 3 rows with different lenghts (check it later)

In [121]:
train_raw.shape

(318, 8)

In [122]:
train_raw[train_raw['len_check'] != 1].shape

(318, 8)

In [123]:
train_raw = train_raw[train_raw['len_check'] != 1]

In [124]:
train_raw.shape

(318, 8)

**Remove stopwords from text**

In [125]:
train_raw['texto_clean'] = train_raw['texto'].map(lambda x: word_tokenize(x))
train_raw['texto_clean'] = train_raw['texto_clean'].map(lambda x: ' '.join([w for w in x if w not in swords]))

In [143]:
train_raw.head()

,doc_id,texto,abrev,offse,abrev_index,abrev_len,offse_len,len_check,texto_clean
0,S1130-05582012000300005-1,Acude a nuestras consultas a un paciente que p...,"[RM, PAAF]","[(789, 791), (1006, 1010)]","[24, 31]",2,2,0,Acude consultas paciente presenta tumoración c...
1,S0212-71992005000400009-1,"Se trataba de un varón de 27 años de edad, que...","[, mm, , mm, mg, dl, mg, dl, mg, dl, mg, dl, L...","[(1056, 1059), (1056, 1059), (1247, 1252), (12...","[36, 36, 44, 44, 44, 44, 50, 51, 52, 53, 51, 5...",43,43,0,"Se trataba varón 27 años edad , sufrido neumon..."
2,S0004-06142008000700015-2,Varón de 33 años fumador de un paquete de ciga...,[],[],[],0,0,0,Varón 33 años fumador paquete cigarrillos día ...
3,S0210-56912006000800008-1,"Hombre de 42 años, bebedor de más de 100 g de ...","[g, mg, dl, mg, dl, mg, dl, AST, , l, ALT, , l...","[(40, 43), (654, 659), (654, 659), (654, 659),...","[3, 23, 23, 23, 26, 27, 28, 27, 30, 31, 32, 39...",25,25,0,"Hombre 42 años , bebedor 100 g etanol día , an..."
4,S0376-78922009000300010-1,Paciente de 18 años de edad que 5 meses antes ...,[],[],[],0,0,0,Paciente 18 años edad 5 meses sido víctima gra...

Remove punctuation from abreviations

In [137]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [a.split("/") for a in x])

In [139]:
train_raw['abrev'] = train_raw['abrev'].apply(lambda x: [item for sublist in x for item in sublist])

In [142]:
for i in punctuation:
    train_raw['abrev'] = train_raw[train_raw['abrev'].notnull()]['abrev'].apply(lambda x: [a.replace(i,"") for a in x])

**Get one row per abbreviation**

Separate elements lists in different rows

In [364]:
mine = train_raw.explode('abrev')
mine = mine.explode('offse')

In [365]:
mine = mine[['doc_id', 'texto_clean', 'abrev', 'offse']]

In [366]:
mine = mine[mine['abrev'] != ""]

In [367]:
mine.head()

,doc_id,texto_clean,abrev,offse
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,"(789, 791)"
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,"(1006, 1010)"
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,"(789, 791)"
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,"(1006, 1010)"
1,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,"(1056, 1059)"

Separate offsets tuples in different columns

In [368]:
mine[['startOffset', 'endOffset']] = pd.DataFrame(mine['offse'].tolist(), index=mine.index)

Delete null values, and change ttype to integer for offsets columns

In [234]:
mine.shape

(92367, 6)

In [369]:
mine.dropna(subset=['startOffset', 'endOffset'], inplace = True)

In [370]:
mine.shape

(92349, 6)

In [371]:
mine['startOffset'] = mine['startOffset'].astype(int)
mine['endOffset'] = mine['endOffset'].astype(int)

In [372]:
mine = mine[['doc_id', 'texto_clean', 'abrev', 'startOffset', 'endOffset']]

In [373]:
mine.shape

(92349, 5)

In [374]:
mine = mine.drop_duplicates()

In [375]:
mine.shape

(27480, 5)

In [376]:
mine.head()

,doc_id,texto_clean,abrev,startOffset,endOffset
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,789,791
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,1006,1010
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,789,791
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,1006,1010
1,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1056,1059

Check dataframes for one text

In [167]:
# mine[mine['doc_id'] == 'S1130-05582012000300005-1']

In [168]:
# train_abbr[train_abbr['doc_id'] == 'S1130-05582012000300005-1']

## Search Long Formns

### Search Long Forms in the same text

**measurement units dictionary**

In [412]:
# mu_dic = {"mL":"Mililitro",
# "mg":"Miligramo",
# "g":"Gramo",
# "L":"Litro",
# "mcg":"Microgramo",
# "mmol":"Milimol",
# "UI":"Unidades Internacionales",
# "Miles UI":"Miles de Unidades Internacionales",
# "Millones UI":"Millones de Unidades Internacionales",
# "UFC":"Unidades Formadoras de Colonias",
# "mEq":"Miliequivalente",
# "ng":"Nanogramo",
# "Lf":"Unidad Floculante",
# "UFP":"Unidad Formadora de Placa",
# "DIC":"Dosis Infectante Mediana de Cultivo Celular 50% ",
# "DIT":"Dosis Infectante Mediana de Cultivo Tisular 50% ",
# "DI":"Dosis Infectante 50% ",
# "mol":"Peso Molecular Gramo ",
# "Eq":"Peso Equivalente Gramo ",
# "Dosis":"Dosis",
# "Almh":"Almohadilla",
# "Amp":"Ampolla",
# "Anl":"Anillo",
# "Bar":"Barra",
# "Bolsa":"Bolsa",
# "Cap":"Capsula",
# "Car":"Caramelo",
# "Carp":"Carpula",
# "Cart":"Cartucho",
# "Com":"Comprimido",
# "Dia":"Dia",
# "Fras":"Frasco",
# "Fras-Amp":"Frasco Ampolla ",
# "Grag":"Gragea",
# "Hora":"Hora",
# "Imp":"Implante",
# "Jab":"Jab¢n",
# "Jer":"Jeringa Prellenada ",
# "uL":"Microlitro",
# "Ovu":"Ovulo",
# "Parche":"Parche",
# "Past":"Pastilla",
# "Perl":"Perla",
# "Pil":"Pildora",
# "Pip":"Pipeta",
# "%":"Porcentaje",
# "Sach":"Sachet",
# "Sob":"Sobre",
# "Sup":"Supositorio",
# "Tab":"Tableta",
# "Troc":"Trocisco",
# "Vial":"Vial",
# "Kg":"Kilogramo",
# "Gal":"Galon",
# "Sis":"Sistema Terapeutico",
# "mCi":"miliCuries",
# "mBq":"milibequerel",
# "UEL":"Unidades ELISA ",
# "DL":"Dosis Letal",
# "U USP":"Unidades USP ",
# "U":"Unidades",
# "Rot":"Rotacaps",
# "CCID":"Dosis Infecciosa en Cultivo de Célula ",
# "U":"UNIDAD",
# "Otros":"Otros",
# "µ Ci":"mcroCuries",
# "Esp":"Esporas",
# "mcHA":"microgramos de HA ",
# "Gom":"Goma",
# "KIU":"Unidad Inhibidora de Calicreina ",
# "mcel":"Millones de Células ",
# "DU":"Unidades de Antigeno D",
# "Dil D2":"Dil D2",
# "Tin.Mad.":"Tintura Madre",
# "Dil D4":"Dil D4",
# "Dil D5":"Dil D5",
# "Dil D1":"Dil D1",
# "Dil D8":"Dil D8",
# "Dil D3":"Dil D3",
# "OU":"Unidad de Opacidad ",
# "mm": "milimetro",
# "dm": "decimetro",
# "cm": "centimetro"}

In [411]:
# mine['long_form'] = mine['abrev'].map(mu_dic)

**With regex looking for words before SF**

In [387]:
#this line if we looking for LF with regex in the same text of the SF
def get_lf2(i,j):
    regex_lf = re.compile(r'((?:\w+\W+){1,'+str(len(i))+'})\(\s'+i[0]+'.*\)')
    return regex_lf.findall(j)

In [388]:
#this line if we looking for LF with regex in the same text of the SF
mine['long_form'] = mine.apply(lambda row: get_lf2(row['abrev'],row['texto_clean']), axis = 1)

In [378]:
#if this code line is done before mesurement dictionary is applied
#mine['long_form'] = mine.apply(lambda row: get_lf(row['abrev'],row['texto_clean'], row['long_form']), axis = 1)

In [390]:
mine = mine.explode('long_form')

In [391]:
mine.reset_index(drop=True, inplace=True)

In [392]:
mine.head()

,doc_id,texto_clean,abrev,startOffset,endOffset,long_form
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,789,791,resonancia magnética
1,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,1006,1010,resonancia magnética
2,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,789,791,punción-aspiración aguja fina
3,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,1006,1010,punción-aspiración aguja fina
4,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1056,1059,NaN

In [292]:
mine.shape

(27480, 6)

In [400]:
mine = mine.drop_duplicates()

Check how many texts don't have LF for the SF in the same text

In [408]:
mine[(mine['abrev'].notnull()) & (mine['long_form'].isnull())]

,doc_id,texto_clean,abrev,startOffset,endOffset,long_form
4,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1056,1059,NaN
5,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1247,1252,NaN
6,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1369,1372,NaN
7,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1378,1380,NaN
8,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1380,1382,NaN
...,...,...,...,...,...,...
27423,S1130-63432014000100012-1,"Mujer 24 años , natural Estados Unidos , 70 kg...",HDFVVC,4374,4378,NaN
27424,S1130-63432014000100012-1,"Mujer 24 años , natural Estados Unidos , 70 kg...",HDFVVC,4522,4525,NaN
27425,S1130-63432014000100012-1,"Mujer 24 años , natural Estados Unidos , 70 kg...",HDFVVC,4636,4641,NaN
27426,S1130-63432014000100012-1,"Mujer 24 años , natural Estados Unidos , 70 kg...",HDFVVC,4810,4812,NaN
27427,S1130-63432014000100012-1,"Mujer 24 años , natural Estados Unidos , 70 kg...",HDFVVC,5921,5925,NaN

In [402]:
lf_null = mine[(mine['abrev'].notnull()) & (mine['long_form'].isnull())].shape[0]

In [405]:
print(f"LF has not be found in the same text where the SF is in {lf_null/mine.shape[0]*100: .2f}% of texts")

LF has not be found in the same text where the SF is in  77.30% of texts

In [410]:
mine[mine['doc_id'] == 'S0212-71992005000400009-1']

,doc_id,texto_clean,abrev,startOffset,endOffset,long_form
4,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1056,1059,NaN
5,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1247,1252,NaN
6,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1369,1372,NaN
7,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1378,1380,NaN
8,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",mm,1380,1382,NaN
...,...,...,...,...,...,...
359,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",IgG4,3325,3330,antibiótico consistente cloxacilina intravenosa
360,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",IgG4,4008,4011,antibiótico consistente cloxacilina intravenosa
361,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",IgG4,4133,4136,antibiótico consistente cloxacilina intravenosa
362,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",IgG4,4139,4143,antibiótico consistente cloxacilina intravenosa
363,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",IgG4,4270,4274,antibiótico consistente cloxacilina intravenosa

**Create dictionary with SF and LF pairs founded in the same text**

In [413]:
df_pairs = mine[(mine['abrev'].notnull()) & (mine['long_form'].notnull())]

In [414]:
df_pairs.head()

,doc_id,texto_clean,abrev,startOffset,endOffset,long_form
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,789,791,resonancia magnética
1,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,1006,1010,resonancia magnética
2,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,789,791,punción-aspiración aguja fina
3,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,1006,1010,punción-aspiración aguja fina
44,S0212-71992005000400009-1,"Se trataba varón 27 años edad , sufrido neumon...",dl,1056,1059,base rifampicina

In [418]:
pairs_dic = {}
for index, row in df_pairs.iterrows():
    if not row['abrev'] in pairs_dic:
        pairs_dic[row['abrev']] = set()
    pairs_dic[row['abrev']].add(row['long_form'])

In [419]:
pairs_dic

{'RM': {'resección transuretral ', 'resonancia magnética '},
 'PAAF': {'punción aspiración aguja fina ', 'punción-aspiración aguja fina '},
 'dl': {'L5-S1 ',
  'base rifampicina ',
  'c.1182del ',
  'muestra sanguínea ',
  'perfusión catecolaminas '},
 'IV': {'bolo intravenoso ',
  'cloxacilina intravenosa ',
  'contraste intravenoso ',
  'tratamiento Interferón ',
  'tratamiento tuberculostático '},
 'IgG': {'consistente cloxacilina intravenosa ',
  'depósitos Inmunoglobulina G ',
  'positiva títulos bajos '},
 'IgE': {'consistente cloxacilina intravenosa '},
 'IgG4': {'antibiótico consistente cloxacilina intravenosa '},
 'UI': {'Cuidados Intensivos ', 'Medicina Intensiva '},
 'TAC': {'39 ºC ) , hipotenso ',
  'El estudio extensión ',
  'Tomografia Axial Computarizada ',
  'Tomografía Axial Computerizada ',
  'Una tomografía computerizada ',
  'aparición pruebas imagen ',
  'libres infiltración tumoral ',
  'manos presenta fibromas ',
  'motivo realiza TAC ',
  'sangre oculta heces ',
  'subcarinal aspecto inflamatoria ',
  'tomografía axial computadorizada ',
  'tomografía axial computarizada ',
  'tomografía axial computerizada '},
 'UCI': {'Unidad Cuidados Intensivos ', 'unidad cuidados intensivos '},
 'ng': {'420 µl ', '820 µl ', 'U/ml ', 'VIH C3 ', 'pg/ml '},
 'APC': {'tratamiento argón plasma '},
 'AINES': {'Epidérmica Tóxica secundaria probablemente fármacos '},
 'ALT': {'importante elevación transaminasas ',
  'rango hepatitis aguda ',
  'secundaria probablemente fármacos '},
 'AST': {'importante elevación transaminasas ',
  'rango hepatitis aguda ',
  'secundaria probablemente fármacos '},
 'VAC': {'aplicaron esponjas poliuretano ', 'portátil última generación '},
 'PNJ': {'frente pneumocystis jiroveci '},
 'PCT': {'frente pneumocystis jiroveci ', 'proteína C reactiva '},
 'AP': {'05/05 ', 'Atención primaria ', 'alfa fibrinógeno '},
 'PRC': {'Programa Rehabilitación Cardiaca '},
 'VCM': {'FACTOR VIII/ LMP1 ', 'Hto 31,9 % '},
 'VSG': {'90mg/lt eritosedimentación ',
  'FACTOR VIII/ LMP1 ',
  'Hto 31,9 % ',
  'velocidad sedimentación globular ',
  'virus Epstein-Barr '},
 'VIH': {'Hto 31,9 % '},
 'CellCe': {'actualidad recibe tratamiento oral micofenolato-mofetil '},
 'TANITA': {'composición corporal midió través impedancia bioeléctrica '},
 'TBF': {'través impedancia bioeléctrica '},
 'TC': {'7 años ',
  'infiltración tumoral ',
  'padre tuberculosis ',
  'tomografía computarizada ',
  'tomografía computerizada '},
 'cm': {'adyuvante quimioterápico ',
  'dosis elevadas ',
  'figura 3 ',
  'insuficiencia renal ',
  'pared abdominal ',
  'pelvis renal ',
  'rectangulares 1000cc . ',
  'renal estable '},
 'CBMF': {"Dr. José Gregorio Hernández '' "},
 'mg': {'Agar Brucella ',
  'amplio espectro ',
  'contralateral . Actualmente ',
  'controles posteriores ',
  'debajo D5 ',
  'deterioro neurológico ',
  'estudiados paciente ',
  'indometacina corticoides ',
  'tratamiento antibiótico '},
 'l': {'diagnóstica '},
 'GOT': {'8 % ) aumento transaminasas ',
  'elevación enzimas hepáticas ',
  'mínima movilización enzimática '},
 'GPT': {'8 % ) aumento transaminasas ',
  'elevación enzimas hepáticas ',
  'mínima movilización enzimática '},
 'GGT': {'mínima movilización enzimática ', 'resto parámetros solicitados '},
 'RMN': {'EEII , reflejos osteotendinosos ',
  'Resonancia Magnética Nuclear ',
  'resonancia magnética nuclear '},
 'mm': {'Agar Brucella ',
  'deterioro neurológico ',
  'fibras lisas ',
  'reactivos precoces '},
 'angioRMN': {'V 36,63 % , VII 21 % ) , trastorno procoagulante primario ',
  'mostró mejoría respecto ingreso , 15 días angioresonancia magnética '},
 'GASA': {'l mínima movilización enzimática '},
 'IMC': {'física destacaba delgadez ',
  'kg peso aproximadamente ',
  'proteico-calórica grave ',
  'situación obesidad extrema2 ',
  'talla 172 centímetros ',
  'índice masa corporal '},
 'DM': {'tipo I '},
 'VMNI': {'precisa ventilación mecánica invasiva ',
  'precisó ventilación mecánica invasiva '},
 'TTPA': {'realizó bloqueo transabdominal percutáneo '},
 'CPAP': {'unidad reanimación instauró VMNI '},
 'TAP': {'bloqueo transabdominal percutáneo '},
 'TBC': {'dietético , dudosa tuberculosis '},
 'II': {'calórica grave ',
  'tratamiento Interferón ',
  'tratamiento tuberculostático ',
  'títulos bajos '},
 'CEA': {'Antígeno Carcino Embrionario ', 'primera línea quimioterapia '},
 'CDDP': {'administra primera línea quimioterapia '},
 'CTX': {'primera línea quimioterapia '},
 'LDH': {'235.600 mm3 ',
  '73 % neutrófilos ) ; lacticodeshidrogenasa ',
  'campo , elevación lactodeshidrogenasa ',
  'negativa ) lavado broncoalveolar '},
 'LLA': {'235.600 mm3 '},
 'FO': {'fondo ojo '},
 'PIO': {'La presión intraocular ',
  'cirugía presión intraocular ',
  'descubrió presión intraocular ',
  'manifiesto presión intraocular ',
  'prednisona 5mg/24h , '},
 'CDI': {'dL , creatinina sérica '},
 'AEO': {'inferiores aparatología extraoral '},
 'AFP': {'anecoico . Marcadores tumorales '},
 'GCS': {'elevación enzimas hepáticas '},
 'EVA': {'aceptable control dolor ',
  'dolor intensidad variable ',
  'escala visual analógica '},
 'PTH': {'calcio ( Ca ) , fósforo '},
 'HTBI': {'hiperfosfatasemia benigna transitoria infancia '},
 'HSD': {'transtentorial ; hemorragia subaracnoidea '},
 'HSA': {'transtentorial ; hemorragia subaracnoidea '},
 'cigarrillos': {'400mg/12h , P-INF alfa 2a 180mcg/semana Telaprevir 750mg/8h '},
 'd': {'dL ', 'deambulación ', 'liposarcoma ', 'min ', 'recidivante '},
 'semana': {'curso recidivante ( dos ingresos ) suspendió Telaprevir '},
 'TCS': {'tejido celular subcutáneo '},
 'ml': {'baja OD ', 'descarga rehabilitación ', 'estudiados paciente '},
 'EEII': {'normal . Determinación sanguínea anticuerpos ',
  'parestesias ambas extremidades inferiores '},
 'ROT': {'EEII , reflejos osteotendinosos ', 'Reflejo osteo-tendinoso '},
 'RCP': {'EEII , reflejos osteotendinosos '},
 'LCR': {'análisis líquido cefalorraquídeo '},
 'ELISA': {'marcha , parestesias ambas extremidades inferiores ',
  'resto normal . Determinación sanguínea anticuerpos '},
 'PCR': {'proteína C reactiva ',
  'reacción cadena polimerasa ',
  'reactantes fase aguda '},
 'TSP': {'paraparesia espástica tropical '},
 'etilP': {'angioplastia transluminal coronaria derecha 1994 '},
 'pH': {'55 mmHg ',
  'acidosis metabólica ',
  'arterial mejoró ',
  'capa muscular '},
 'DTM': {'pacientes desórdenes temporomandibulares '},
 'ECG': {'Se realiza electrocardiograma ',
  'excreción fraccional potasio ',
  'mandibular . En electrocardiograma ',
  'presentó cambios electrocardiograma '},
 'MGIT': {'fuente trabajador accidentado ) , MIRU ',
  'micobacterias [ Bactec 960 MGIT '},
 'SPRL': {'Servicio Prevención Riesgos Laborales '},
 'MIRU': {'fuente trabajador accidentado ) , MIRU '},
 'VM': {'mecánica invasiva '},
 'BAL': {'recogida lavado broncoalveolar '},
 'VHS': {'ventilación mecánica invasiva ', 'virus Epstein Barr '},
 'OD': {'coherencia óptica ',
  'incipiente edema ',
  'ojo derecho ',
  'ojo izquierdo '},
 'OI': {'coherencia óptica ',
  'incipiente edema ',
  'ojo derecho ',
  'ojo izquierdo '},
 'BMU': {'realizó biomicroscopía ultrasónica '},
 'McGhan': {'anatómicos gel cohesivo texturizado 290 cc , '},
 'cc': {'CKAE1/AE3 ', 'rectangulares 1000cc . '},
 'PET': {'tomografía emisión positrones '},
 'AE': {'positividad queratina ', 'positivo Citoqueratinas '},
 'RNM': {'Resonancia Nuclear Magnética ', 'resonancia nuclear magnética '},
 'BT': {'predominio directo '},
 'BD': {'predominio directo '},
 'TB': {'padre tuberculosis '},
 'h': {'básica ', 'habitual ', 'meses '},
 'PFP': {'pruebas función pulmonar '},
 'g': {'1999 ', 'convencional ', 'intermedio ', 'proteinograma '},
 'hora': {'familia solicitó analítica básica '},
 'pTa': {'invadía capa muscular '},
 'pT2': {'invadía capa muscular '},
 'AA': {'alfa fibrinógeno ', 'amiloidosis vesical ', 'depósito amiloide '},
 'ECE': {'enteroscopia cápsula endoscópica '},
 'CHCM': {'reactivas linfoides estirpe T '},
 'pg': {'EMA/ LISOZIMA ', 'indican corticoides '},
 'CD': {'coronaria derecha ', 'estirpe T '},
 'VIII': {'MPX/ FACTOR VIII/ LMP1 '},
 'VEB': {'FACTOR VIII/ LMP1 ', 'virus Epstein Barr ', 'virus Epstein-Barr '},
 'TCE': {'La tomografía computarizada '},
 'AV': {'agudeza visual ',
  'ambos ojos ',
  'angiografía fluoresceínica ',
  'visual corrección '},
 'DPAR': {'defecto pupilar aferente relativo '},
 'NO': {'nervio óptico ', 'óptica traumática '},
 'NOT': {'neuropatía óptica traumática '},
 'VN': {'g/dl '},
 'CT': {'tomografía computerizada '},
 'pT1': {'estadio I UICC ', 'superficial alto grado '},
 'ATM': {'La articulación temporomandibular '},
 'mFOLFOX': {'inició sueroterapia tratamiento antibioterapia intravenosa amplio espectro '},
 'm': {'Brucella ', 'antibiótico ', 'espectro ', 'posteriores '},
 'mmHg': {'antibioterapia intravenosa amplio espectro '},
 'HPTS': {'hemodiálisis presenta hiperparatiroidismo secundario '},
 'TA': {'7 años ', 'cirugía hipotensa ', 'renal : FG ', 'ºC ) , hipotenso '},
 'CRE': {'balón 18 mm '},
 'AO': {'agudeza visual ', 'ambos ojos '},
 'AOC': {'mala agudeza visual '},
 'MA': {'membrana amniótica '},
 'CMV': {'Barr ( VEB ) citomegalovirus ',
  'cordón medular cervical ',
  'deterioro función renal ',
  'serología VEB citomegalovirus '},
 'RX': {'En radiografía ', 'pruebas complementarias '},
 'HCG': {'proteína , HCG LDH '},
 'pCO2': {'arterial ; 88/55 mmHg ', 'resultados analíticos sangre venosa '},
 'AVSC': {'constata agudeza visual corrección '},
 'DP': {'diámetros papilares '},
 'AGF': {'En angiografía fluoresceínica ',
  'agudeza visual corrección ',
  'realizó angiografía fluoresceínica '},
 'AVI': {'En angiografía fluoresceínica ', 'agudeza visual corrección '},
 'OCT': {'7 ojo derecho ',
  'indolora ojo izquierdo ',
  'tomografía coherencia óptica ',
  'visual ojo izquierdo '},
 'DRNS': {'aproximadamente 2 diámetros papilares '},
 'PaO2': {'destaca presión arterial oxígeno '},
 'FiO2': {'control , fracción inspirada oxígeno '},
 'PEEP': {'destaca presión arterial oxígeno '},
 'volumen': {'El paciente realizaba volúmenes corrientes 800 ml '},
 'F': {'oxígeno '},
 'RTU': {'antecedente resección transuretral '},
 'paquete': {'neoplasia vesical células transicionales superficial alto grado '},
 'TPMT': {'febril ( 39 ºC ) , hipotenso '},
 'COL': {'compatible quilotórax3 : colesterol '},
 'TG': {'dL , triglicéridos '},
 'NP': {'nutrición parenteral '},
 'MCT': {'60 g lípidos '},
 'AMA': {'ácidos grasos esenciales '},
 'ASPEN': {'prevenir déficit ácidos grasos esenciales '},
 'NE': {'nutrición enteral ', 'nutrición parenteral '},
 'AGE': {'ácidos grasos esenciales '},
 'ORL': {'secreción ojo izquierdo '},
 'BPA': {'OI . A biomicroscopía '},
 'IF': {'Inmunoglobulina G '},
 'ST': {'segmento ST '},
 'SCACEST': {'Ingresó síndrome coronario agudo elevación segmento ST '},
 'DA': {'descendente anterior '},
 'CX': {'coronaria derecha '},
 'CEC': {'arteria coronaria derecha '},
 'TAM': {'tensión arterial media '},
 'GC': {'gasto cardíaco '},
 'IC': {'min , índice '},
 'RVS': {'resistencias vasculares sistémica '},
 'RVP': {'resistencias vasculares sistémica '},
 'antiEBV': {'resultó normal . La serología virus estudiados negativa '},
 'antiDNA': {'resultó normal . La serología virus estudiados negativa '},
 'antiRNA': {'resultó normal . La serología virus estudiados negativa '},
 'TSH': {'Balance renal : FG ', 'título anticuerpos antitiroideos '},
 'TGB': {'título anticuerpos antitiroideos '},
 'TPO': {'título anticuerpos antitiroideos '},
 'FAV': {'compatible fístula arteriovenosa '},
 'HC': {'años edad '},
 'BCG': {'tratados quimioterapia intravesical '},
 'CK': {'AE3 ) citoqueratina '},
 'TTF': {'motivo realiza TAC '},
 'INR': {'correctos niveles anticoagulación '},
 'ID': {'niveles anticoagulación '},
 'GER': {'Gasto Energético Reposo '},
 'min': {'Chocolate Agar Brucella ',
  'familiares estudiados paciente ',
  'resto tratamiento antibiótico '},
 'DAKO': {'positividad actina músculo específica '},
 'HQR': {'hamartoma quístico retrorrectal '},
 'BP': {'envoltorios droga '},
 'antiCCP': {'altos factor reumatoide anticuerpos antipéptido cíclico citrulinado '},
 'paquetes': {'mg cloruro mórfico subcutáneo cada hora corticoides orales '},
 'noches': {'timolol colirio , suspensión medicaciones reciente introducción '},
 'pO2': {'anafiláctico disnea desaturación '},
 'MAVC': {'mejor agudeza visual corregida '},
 'BMC': {'intraocular ( PIO ) biomicroscopia '},
 'EA': {'estrías angioides '},
 'NVC': {'lesión cupuliforme densa '},
 'FA': {'fondo ojo '},
 'hiperFA': {'autofluorescencia fondo ( FA ) AO moteado difuso hiperautofluorescente '},
 'hipoFA': {'fondo ( FA ) AO moteado difuso hiperautofluorescente '},
 'AFG': {'coloides ambos ojos '},
 'EPR': {'características estrías angioides '},
 'TAS': {'general , hipotensión arterial ', 'tensión arterial sistólica '},
 'ngioTC': {'rápida mejoría clínica ( desaparición sonmolencia ) analítica '},
 'CA': {'cámara anterior '},
 'IgM': {'positiva títulos bajos '},
 'ICG': {'angiografía verde indocianina '},
 'NIHSS': {'presentaba 23 puntos escala NIHSS '},
 'iPTH': {'séricos hormona paratiroidea intacta '},
 'EPOC': {'enfermedad pulmonar obstructiva crónica '},
 'VIA': {'portátil última generación '},
 'TFD': {'terapia fotodinámica Verteporfin '},
 'VVZ': {'virus Epstein Barr '},
 'GIST': {'confirmó origen submucoso lesión '},
 'MID': {'miembro inferior derecho '},
 'pTis': {'urinaria tipo Bricker 1995 '},
 'OMIM': {'estudio genético gen SCN4A ', 'genético mutación gen KIT '},
 'UH': {'masa prevertebral '},
 'HDA': {'ELISA ) existencia virus '},
 'EID': {'Determinación sanguínea anticuerpos '},
 'HTLV': {'anticuerpos ( ELISA ) existencia virus '},
 'etanol': {'valoración , enfermo sido diagnosticado cirrosis hepática '},
 'UCIP': {'Unidad Cuidados Intensivos pediátrica '},
 'pT3': {'bordes quirúrgicos libres '},
 'NoMo': {'Embrionario ( CEA ) 91,45 '},
 'PMN': {'133 , células 145 '},
 'NPT': {'Toleró nutrición enteral ', 'alergia vitamina B '},
 'BQ': {'disminuyó progresivamente '},
 'AGCM': {'ácidos grasos cadena media '},
 'angioRNM': {'orotraqueal . La inducción realizó mediante Propofol , analgesia Renifentanilo '},
 'INSS': {'Instituto Nacional Seguridad Social '},
 'ASLO': {'niveles anticuerpos antiestreptolisina O '},
 'TACHT': {'respiración espontánea tensión arterial sistólica '},
 'TSOH': {'test sangre oculta heces '},
 'ADN': {'ácido desoxirribonucleico genómico '},
 'ABI': {'ácido desoxirribonucleico genómico '},
 'AL': {'alfa fibrinógeno '},
 'AI': {'alfa fibrinógeno '},
 'CU': {'Colitis Ulcerosa '},
 'RN': {'g/dl '},
 'ANA': {'ADN , anticuerpos antinucleares '},
 'ENA': {'anticuerpos extraíbles núcleo '},
 'ANCA': {'anti-ADN , anticuerpos antinucleares '},
 'SC': {'m2 ; FG '},
 'iehlN': {'buena ( RPMB ) libre progresión fecha '},
 'LNH': {'sospechosa linfoma Hodgkin '},
 'LLBCP': {'linfoide monomorfa , sospechosa linfoma Hodgkin '},
 'ANOES': {'La serologías víricas estudio autoinmunidad '},
 'LPP': {'sospechosa linfoma Hodgkin '},
 'RPMB': {'terapéutica , remisión parcial buena '},
 'MMII': {'cervical . Motor : miembros inferiores ',
  'dolor ambos miembros inferiores '},
 'UMI': {'Unidad Medicina Intensiva '},
 'antitrombinaIII': {'11 seg ) , índice Quick : 20 % , fibrinógeno : 269 mg/dl ; actividad antitrombina-III : 30 % ; disfunción hepática '},
 'FMO': {'hacia fracaso multiorgánico '},
 'EFK': {'excreción fraccional potasio '},
 'EMG': {'Esclerosis lateral amiotrófica ', 'excreción fraccional potasio '},
 'CPK': {'EMG ) , determinación creatinfosfocinasa '},
 'ONCE': {'ojos glaucoma ojo izquierdo '},
 'BA': {'balance articular '},
 'BM': {'balance articular '},
 'IGRA': {'interferon-gamma release assays '},
 'SF': {'ocular gas '},
 'TVTLF': {'arteria facial , tronco venoso tirolinguofacial '},
 'ORTHOPAT': {'transfundir dos concentrados hematíes , utilizándose , además , recuperador sanguíneo '},
 'ELA': {'Esclerosis lateral amiotrófica '},
 'ITB': {'índice tobillo-brazo '},
 'ENG': {'Esclerosis lateral amiotrófica '},
 'MMSS': {'cervical . Motor : miembros inferiores '},
 'PEG': {'alimentación gastrostomía percutánea '},
 'ITI': {'fija implante unitario '},
 'AZF': {'ZFY , SRY , sY84 '},
 'UMO': {'Unidad Metabólica Ósea '},
 'ABVD': {'control radiológico antero-posterior '},
 'L': {'broncoalveolar '},
 'antiVIH': {'Rinovirus Enterovirus muestra sanguínea detección infección VIH '},
 'iv': {'tratamiento intravenoso '},
 'CL': {'24 h '},
 'mL': {'tratamiento antibiótico '},
 'LBA': {'negativa ) lavado broncoalveolar '},
 'et': {'min ingreso '},
 'ECMO': {'soporte Oxigenación Membrana Extracorpórea '}}

In [420]:
len(pairs_dic.keys())

275

## Using N-grams

In [326]:
for i in punctuation:
    mine['texto_clean'] = mine['texto_clean'].map(lambda x: x.replace(i,""))

In [328]:
a = mine.head(10)

In [335]:
a.apply(lambda row: ngram_filter(row['texto_clean'], row['abrev'], len(row['abrev'])+1), axis = 1)[2]

[('mediante', 'punciónaspiración', 'aguja', 'fina', 'PAAF'),
 ('punciónaspiración', 'aguja', 'fina', 'PAAF', 'confirmó'),
 ('aguja', 'fina', 'PAAF', 'confirmó', 'sospechas'),
 ('fina', 'PAAF', 'confirmó', 'sospechas', 'iniciales'),
 ('PAAF', 'confirmó', 'sospechas', 'iniciales', 'lipoma')]

In [333]:
mine['lf_ngrams'] = mine.apply(lambda row: ngram_filter(row['texto_clean'], row['abrev'], len(row['abrev'])+1), axis = 1)

In [334]:
mine.head()

,doc_id,texto_clean,abrev,startOffset,endOffset,long_form,lf_ngrams
0,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,789,791,resonancia magnética,"[(resonancia, magnética, RM), (magnética, RM, ..."
1,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,RM,1006,1010,resonancia magnética,"[(resonancia, magnética, RM), (magnética, RM, ..."
2,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,789,791,punción-aspiración aguja fina,"[(mediante, punciónaspiración, aguja, fina, PA..."
3,S1130-05582012000300005-1,Acude consultas paciente presenta tumoración c...,PAAF,1006,1010,punción-aspiración aguja fina,"[(mediante, punciónaspiración, aguja, fina, PA..."
4,S0212-71992005000400009-1,Se trataba varón 27 años edad sufrido neumoní...,mm,1056,1059,milimetro,"[(leucocitosis, 12000, mm), (12000, mm, cúbico..."

In [306]:
from nltk import ngrams

sentence = 'this is a foo bar sentences and i want to ngramize it this is it and'

n = 6
sixgrams = ngrams(sentence.split(), 2)

for grams in sixgrams:
    esBigramFreq = collections.Counter(grams)
    print(grams,esBigramFreq , esBigramFreq.most_common(10))

('this', 'is') Counter({'this': 1, 'is': 1}) [('this', 1), ('is', 1)]
('is', 'a') Counter({'is': 1, 'a': 1}) [('is', 1), ('a', 1)]
('a', 'foo') Counter({'a': 1, 'foo': 1}) [('a', 1), ('foo', 1)]
('foo', 'bar') Counter({'foo': 1, 'bar': 1}) [('foo', 1), ('bar', 1)]
('bar', 'sentences') Counter({'bar': 1, 'sentences': 1}) [('bar', 1), ('sentences', 1)]
('sentences', 'and') Counter({'sentences': 1, 'and': 1}) [('sentences', 1), ('and', 1)]
('and', 'i') Counter({'and': 1, 'i': 1}) [('and', 1), ('i', 1)]
('i', 'want') Counter({'i': 1, 'want': 1}) [('i', 1), ('want', 1)]
('want', 'to') Counter({'want': 1, 'to': 1}) [('want', 1), ('to', 1)]
('to', 'ngramize') Counter({'to': 1, 'ngramize': 1}) [('to', 1), ('ngramize', 1)]
('ngramize', 'it') Counter({'ngramize': 1, 'it': 1}) [('ngramize', 1), ('it', 1)]
('it', 'this') Counter({'it': 1, 'this': 1}) [('it', 1), ('this', 1)]
('this', 'is') Counter({'this': 1, 'is': 1}) [('this', 1), ('is', 1)]
('is', 'it') Counter({'is': 1, 'it': 1}) [('is', 1), ('it', 1)]
('it', 'and') Counter({'it': 1, 'and': 1}) [('it', 1), ('and', 1)]

**Get context vectors**

1. Bag of words model

In [344]:
count_vect = CountVectorizer()

In [347]:
text_counts = count_vect.fit_transform(mine['texto_clean'])

In [348]:
text_counts.shape

(27480, 12829)

In [349]:
tfidf_transformer = TfidfTransformer()
texto_tfidf = tfidf_transformer.fit_transform(text_counts)
texto_tfidf.shape

(27480, 12829)

In [362]:
from keras.preprocessing.text import Tokenizer

sentence = ["John likes to watch movies. Mary likes movies too."]

def print_bow(sentence: str) -> None:
    tokenizer = Tokenizer()
    tokenizer.fit_on_texts(sentence)
    sequences = tokenizer.texts_to_sequences(sentence)
    word_index = tokenizer.word_index
    print(sequences,word_index)
    bow = {}
    for key in word_index:
        bow[key] = sequences[0].count(word_index[key])
    print(bow)
    print(f"Bag of word sentence 1 :\n{bow}")
    print(f'We found {len(word_index)} unique tokens.')

print_bow(sentence)

[[3, 1, 4, 5, 2, 6, 1, 2, 7]] {'likes': 1, 'movies': 2, 'john': 3, 'to': 4, 'watch': 5, 'mary': 6, 'too': 7}
{'likes': 2, 'movies': 2, 'john': 1, 'to': 1, 'watch': 1, 'mary': 1, 'too': 1}
Bag of word sentence 1 :
{'likes': 2, 'movies': 2, 'john': 1, 'to': 1, 'watch': 1, 'mary': 1, 'too': 1}
We found 7 unique tokens.