# Library

In [3]:
import pandas as pd
import numpy as np
import os
import re
import collections
import nltk
from nltk.corpus import stopwords
import itertools 
from nltk.tokenize import word_tokenize
from string import punctuation

from nltk import ngrams

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

import unidecode

from bs4 import BeautifulSoup, Tag
import requests
import re
import urllib.parse
from urllib.parse import urlparse

# Functions

In [4]:
def read_texts(path):
    data = []
    file_name = os.listdir(path)

    for name in file_name:
        if name.endswith('.txt'):
            with open(path + name,encoding="utf8") as f:
                text = f.read()
                data.append({'nombre':name.replace('.txt',''), 'texto':text})

    df = pd.DataFrame(data)
    return df

In [5]:
def read_texts2(path):
    data = []
    file_name = os.listdir(path)

    for name in file_name:
        if name.endswith('.tsv'):
            with open(path + name,encoding="utf8") as f:
                text = f.read()
                data.append({'nombre':name.replace('.tsv',''), 'texto':text})

    df = pd.DataFrame(data)
    return df

# Load Data

## BARR2

### Testing

220 clinical cases.

In [6]:
testing_abbr = pd.read_csv("../datasets/testing_set/clinical_cases.abbreviations.testing_set.tsv", sep = '\t')
testing_met = pd.read_csv("../datasets/testing_set/clinical_cases.metadata.testing_set.tsv", sep = '\t')
testing_rel = pd.read_csv("../datasets/testing_set/clinical_cases.relations.testing_set.tsv", sep = '\t')

In [7]:
testing_met.head()

,# Document_ID,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1130-01082006000700014-1.txt,1.txt,1130-0108,2006-07-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-01082007000300006-7.txt,7.txt,1130-0108,2007-03-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S1134-80462009000100005-1.txt,1.txt,1134-8046,2009-02-01,Revista de la Sociedad Española del Dolor v.1...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S1137-66272014000300015-1.txt,1.txt,1137-6627,2014-12-01,Anales del Sistema Sanitario de Navarra v.37 ...,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0365-66912004001200011-1.txt,1.txt,0365-6691,2004-12-01,Archivos de la Sociedad Española de Oftalmolog...,http://scielo.isciii.es/scielo.php?script=sci_...

In [8]:
testing_rel = testing_rel.reset_index()

In [9]:
testing_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [10]:
testing_rel = testing_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [11]:
testing_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S0211-69952013000500019-1,SHORT_FORM,3739,ARA II,SHORT-LONG,LONG_FORM,3695,3737,antagonista del receptor de angiotesina II
1,S0211-69952013000500019-1,SHORT_FORM,2793,PCR,SHORT-LONG,LONG_FORM,2798,2837,reacción en cadena de enzima polimerasa
2,S0365-66912004000600008-1,SHORT_FORM,406,AV,SHORT-LONG,LONG_FORM,390,404,agudeza visual
3,S0211-69952012000500025-1,SHORT_FORM,945,angio-TAC,SHORT-LONG,LONG_FORM,908,943,angiotomografía computarizada axial
4,S1130-05582017000200122-1,SHORT_FORM,940,RMN,SHORT-LONG,LONG_FORM,910,938,resonancia magnética nuclear

In [12]:
testing_rel.Relation_type.unique()

array(['SHORT-LONG', 'SHORT-NESTED', 'NESTED-LONG'], dtype=object)

In [13]:
testing_abbr = testing_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [14]:
testing_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0004-06142010000500014-1,2037,2044,16SrRNA,16s ribosomal rna,16s ribosomal rno
1,S0004-06142010000500014-1,1349,1351,M.,mycobacterium,mycobacterium
2,S0004-06142010000500014-1,1339,1342,PCR,polymerase chain reaction,polymerase chain reaction
3,S0004-06142010000500014-1,611,615,BHCG,beta-human chorionic gonadotropin,beta-humar chorionic gonadotropin
4,S0004-06142010000500014-1,594,597,CEA,carcinoembrionary antigen,carcinoembrionary antiger

In [16]:
testing_raw = read_texts("../datasets/testing_set/testing_set.raw_text/")

In [17]:
testing_raw.head()

,nombre,texto
0,S1139-76322009000700016-1,Paciente de sexo femenino de 13 años y 7 meses...
1,S0210-48062007000700015-1,Varón de 72 años con antecedentes personales d...
2,S0212-71992005000500009-1,"Varón de 81 años, con antecedentes de fibrilac..."
3,S0365-66912004001200011-1,Paciente varón de 52 años que acudió a urgenci...
4,S1130-01082009000900015-1,Varón de 54 años con episodios de pancreatitis...

### Backgound

2879 clinical cases. 220 will be use for clinical evaluation

In [ ]:
# back_met = pd.read_csv("../datasets/background_test/clinical_cases.metadata.background_set.tsv", sep = '\t')

In [ ]:
# back_met = back_met.rename(columns = {'# Document_ID': 'doc_id'})

In [ ]:
# back_met.head()

In [ ]:
# back_raw = read_texts("../datasets/background_test/background_test_set/")

In [ ]:
# back_raw.head()

### Development

146 clinical cases

In [18]:
dev_abbr = pd.read_csv("../datasets/development_set/clinical_cases.abbreviations.development_set.tsv", sep = '\t')
dev_met = pd.read_csv("../datasets/development_set/clinical_cases.metadata.development_set.tsv", sep = '\t')
dev_rel = pd.read_csv("../datasets/development_set/clinical_cases.relations.development_set.tsv", sep = '\t')

In [19]:
dev_met = dev_met.rename(columns = {'# Document_ID': 'doc_id'})

In [20]:
dev_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1130-14732005000300004-1.txt,1.txt,1130-1473,2005-06-01,Neurocirugía v.16 n.3 2005,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-01082008000200009-1.txt,1.txt,1130-0108,2008-02-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S1137-66272012000300021-1.txt,1.txt,1137-6627,2012-12-01,Anales del Sistema Sanitario de Navarra v.35 ...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S1699-695X2016000200010-1.txt,1.txt,1699-695X,2016-06-01,Revista Clínica de Medicina de Familia v.9 n....,http://scielo.isciii.es/scielo.php?script=sci_...
4,S1130-01082007001100009-1.txt,1.txt,1130-0108,2007-11-01,Revista Española de Enfermedades Digestivas v...,http://scielo.isciii.es/scielo.php?script=sci_...

In [21]:
dev_rel = dev_rel.reset_index()

In [22]:
dev_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [23]:
dev_rel = dev_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [24]:
dev_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S1888-75462015000400006-1,SHORT_FORM,1436,AP,SHORT-LONG,LONG_FORM,1419,1434,anteroposterior
1,S0210-56912009000700006-2,SHORT_FORM,876,angio-RMN,SHORT-LONG,LONG_FORM,858,874,angiorresonancia
2,S0210-56912009000700006-2,SHORT_FORM,819,RMN,SHORT-LONG,LONG_FORM,789,817,resonancia magnética nuclear
3,S1698-44472005000300015-1,SHORT_FORM,209,ATM,SHORT-LONG,LONG_FORM,177,207,articulación témporomandibular
4,S1698-44472005000300015-1,SHORT_FORM,1125,TC,SHORT-LONG,LONG_FORM,1099,1123,tomografía computerizada

In [25]:
dev_abbr = dev_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [26]:
dev_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S1130-14732005000300004-1,1216,1218,C3,tercera vértebra cervical,tercero vértebra cervical
1,S1130-14732005000300004-1,717,719,C2,segunda vértebra cervical,segundo vértebra cervical
2,S1130-14732005000300004-1,3191,3193,C3,tercera vértebra cervical,tercero vértebra cervical
3,S1130-14732005000300004-1,2867,2869,C3,tercera vértebra cervical,tercero vértebra cervical
4,S1130-14732005000300004-1,2862,2864,C2,segunda vértebra cervical,segundo vértebra cervical

In [29]:
dev_raw = read_texts("../datasets/development_set/development_set.raw_text/")

In [30]:
dev_raw.head()

,nombre,texto
0,S1139-76322017000200010-1,Niña de dos años y diez meses con antecedentes...
1,S0365-66912005001100008-1,Se presenta el caso de un varón de 45 años que...
2,S1130-01082006001000017-1,Mujer de 42 años de edad con antecedentes pers...
3,S0212-71992005001200008-1,Paciente de 57 años con ingresos hospitalarios...
4,S0365-66912007000300010-1,Paciente de 33 años que el 20-08-05 es traslad...

### Sample test

15 clinical cases

In [31]:
sample_abbr = pd.read_csv("../datasets/sample_set/clinical_cases.abbreviations.sample_set.tsv", sep = '\t')
sample_met = pd.read_csv("../datasets/sample_set/clinical_cases.metadata.sample_set.tsv", sep = '\t')
sample_rel = pd.read_csv("../datasets/sample_set/clinical_cases.relations.sample_set.tsv", sep = '\t')

In [32]:
sample_met = sample_met.rename(columns = {'# Document_ID': 'doc_id'})

In [33]:
sample_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S0004-06142006000900015-1,1,0004-0614,2006-11-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
1,S0004-06142006000600015-1,1,0004-0614,2006-08-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S0004-06142007000700014-1,1,0004-0614,2007-09-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
3,S0004-06142007000900013-1,1,0004-0614,2007-11-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0004-06142006000200014-1,1,0004-0614,2006-03-01,Archivos Españoles de Urología (Ed. impresa) ...,http://scielo.isciii.es/scielo.php?script=sci_...

In [34]:
sample_rel = sample_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [35]:
sample_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A_EndOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S0004-06142006000700014-1,SHORT_FORM,926,929,CEA,SHORT-LONG,LONG_FORM,896,924,Antígeno Carcino Embrionario
1,S0004-06142005001000011-1,SHORT_FORM,1626,1629,ROT,SHORT-LONG,LONG_FORM,1600,1624,reflejos osteotendinosos
2,S0004-06142005001000011-1,SHORT_FORM,1715,1718,RMN,SHORT-LONG,LONG_FORM,1685,1713,resonancia magnética nuclear
3,S0004-06142005001000011-1,SHORT_FORM,1663,1666,RCP,SHORT-LONG,LONG_FORM,1639,1661,reflejo cutaneoplantar
4,S0004-06142005001000011-1,SHORT_FORM,1808,1811,LCR,SHORT-LONG,LONG_FORM,1783,1806,líquido cefalorraquídeo

In [36]:
sample_abbr = sample_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [37]:
sample_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0004-06142005001000011-1,1034,1036,Kg,kilogramo,kilogramo
1,S0004-06142005001000011-1,1031,1033,mg,miligramo,miligramo
2,S0004-06142005001000011-1,196,199,IgA,inmunoglobulina a,inmunoglobulina a
3,S0004-06142005001000011-1,2057,2060,LCR,líquido cefalorraquídeo,líquido cefalorraquídeo
4,S0004-06142005001000011-1,1594,1598,EEII,extremidades inferiores,extremidad inferior

In [38]:
sample_raw = read_texts("../datasets/sample_set/sample_set.raw_text/")

In [39]:
sample_raw.head()

,nombre,texto
0,S0004-06142006000600014-1,"Paciente varón, de 40 años de edad, con antece..."
1,S0004-06142006000300015-1,Paciente de 50 años con antecedente de litiasi...
2,S0004-06142007000900013-1,Presentamos el caso de un recién nacido de tre...
3,S0004-06142005001000011-1,Varón de 58 años de edad en el momento del tra...
4,S0004-06142006000700013-1,"Paciente varón, de 63 años de edad, mestizo, d..."

### Trainning

318 clinical cases

In [40]:
train_abbr = pd.read_csv("../datasets/trainning_set/clinical_cases.abbreviations.training_set.tsv", sep = '\t')
train_met = pd.read_csv("../datasets/trainning_set/clinical_cases.metadata.training_set.tsv", sep = '\t')
train_rel = pd.read_csv("../datasets/trainning_set/clinical_cases.relations.training_set.tsv", sep = '\t')

In [41]:
train_met = train_met.rename(columns = {'# Document_ID': 'doc_id'})

In [42]:
train_met.head()

,doc_id,Case_ID,ISSN,Date,Source,Full_Text_Link
0,S1139-76322015000500009-1.txt,1.txt,1139-7632,2015-12-01,Pediatría Atención Primaria v.17 n.68 2015,http://scielo.isciii.es/scielo.php?script=sci_...
1,S1130-05582008000400007-2.txt,2.txt,1130-0558,2008-08-01,Revista Española de Cirugía Oral y Maxilofacia...,http://scielo.isciii.es/scielo.php?script=sci_...
2,S0210-48062006000100012-1.txt,1.txt,0210-4806,2006-01-01,Actas Urológicas Españolas v.30 n.1 2006,http://scielo.isciii.es/scielo.php?script=sci_...
3,S0213-12852003000500002-1.txt,1.txt,0213-1285,2003-10-01,Avances en Odontoestomatología v.19 n.5 2003,http://scielo.isciii.es/scielo.php?script=sci_...
4,S0212-71992005000400007-1.txt,1.txt,0212-7199,2005-04-01,Anales de Medicina Interna v.22 n.4 2005,http://scielo.isciii.es/scielo.php?script=sci_...

In [43]:
train_rel = train_rel.reset_index()

In [44]:
train_rel.columns = ['# Document_ID', 'Mention_A_type', 'Mention_A_StartOffset',
      'Mention_A', 'Relation_type', 'Mention_B_type',
       'Mention_B_StartOffset', 'Mention_B_EndOffset', 'Mention_B']

In [45]:
train_rel = train_rel.rename(columns = {'# Document_ID': 'doc_id'})

In [46]:
train_rel.head()

,doc_id,Mention_A_type,Mention_A_StartOffset,Mention_A,Relation_type,Mention_B_type,Mention_B_StartOffset,Mention_B_EndOffset,Mention_B
0,S1130-01082009000400014-1,SHORT_FORM,476,NPT,SHORT-LONG,LONG_FORM,454.0,474.0,nutrición parenteral
1,S1130-63432016000100009-1,SHORT_FORM,614,NIHSS,SHORT-LONG,LONG_FORM,621.0,662.0,National Institute of Health Stroke Scale
2,S1139-76322017000200007-1,SHORT_FORM,1145,CMV,SHORT-LONG,LONG_FORM,1128.0,1143.0,citomegalovirus
3,S1139-76322017000200007-1,SHORT_FORM,1243,VSG,SHORT-LONG,LONG_FORM,1206.0,1241.0,velocidad de sedimentación globular
4,S1139-76322017000200007-1,SHORT_FORM,1300,IGRA,SHORT-LONG,LONG_FORM,1267.0,1298.0,interferon-gamma release assays

In [47]:
train_abbr = train_abbr.rename(columns = {'# Document_ID': 'doc_id'})

In [60]:
train_abbr.head()

,doc_id,StartOffset,EndOffset,Abbreviation,Definition,Definition_lemmatized
0,S0210-48062004000500008-1,1650,1652,ml,mililitro,mililitro
1,S0210-48062004000500008-1,708,709,l,litro,litro
2,S0210-48062004000500008-1,704,707,mEq,miliequivalente,miliequivalente
3,S0210-48062004000500008-1,677,681,pCO2,presión parcial de co2,presión parcial de co2
4,S0210-48062004000500008-1,2287,2290,HLA,human leucocyte antigen,human leucocyte antiger

In [49]:
train_raw = read_texts("../datasets/trainning_set/training_set.raw_text/")

In [50]:
train_raw = train_raw.rename(columns = {'nombre': 'doc_id'})

In [51]:
train_raw.head()

,doc_id,texto
0,S1130-05582012000300005-1,Acude a nuestras consultas a un paciente que p...
1,S0212-71992005000400009-1,"Se trataba de un varón de 27 años de edad, que..."
2,S0004-06142008000700015-2,Varón de 33 años fumador de un paquete de ciga...
3,S0210-56912006000800008-1,"Hombre de 42 años, bebedor de más de 100 g de ..."
4,S0376-78922009000300010-1,Paciente de 18 años de edad que 5 meses antes ...

In [52]:
train_raw.shape

(318, 2)

## BARR1

In [54]:
# barr1_back1 = pd.read_csv("../datasets/barr1/BARR_ibereval_background1_set/BARR_ibereval_background1_set.tsv", sep = '\t', encoding = 'utf-8', error_bad_lines=False,header= None)
# barr1_test = pd.read_csv("../datasets/barr1/BARR_ibereval_test_set/BARR_ibereval_test_docs.tsv", sep = '\t', encoding = 'utf-8', error_bad_lines=False)
# barr1_sample = pd.read_csv("../datasets/barr1/BARR_ibereval_sample_set/BARR_ibereval_sample_docs.tsv", sep = '\t', encoding = 'utf-8', error_bad_lines=False)

In [55]:
barr1_back1 = pd.read_csv("../datasets/BARR1/BARR_ibereval_background1_set.zip",  encoding = 'utf-8', error_bad_lines=False,header= None)
barr1_test = pd.read_csv("../datasets/BARR1/BARR_ibereval_test_set.zip",  encoding = 'utf-8', error_bad_lines=False)
barr1_sample = pd.read_csv("../datasets/BARR1/BARR_ibereval_sample_set.zip", encoding = 'utf-8', error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

ValueError: Multiple files found in compressed zip file ['BARR_ibereval_test_docs.tsv', 'Readme.txt']

In [ ]:
barr1_back1 = barr1_back1.rename(columns = {0: 'ID', 1:'LANGUAGE', 2:'TITLE', 3:'ABSTRACT'})

In [ ]:
barr1_back1.head()

In [ ]:
barr1_test.head()

In [ ]:
barr1_sample.head()

# Scrapping

In [57]:
import urllib.request
import sys
from bs4 import BeautifulSoup

In [58]:
# datos = urllib.request.urlopen('https://pubmed.ncbi.nlm.nih.gov/?term=pcr&filter=simsearch1.fha&filter=lang.spanish').read().decode()
datos = urllib.request.urlopen('https://www.savalnet.cl/').read().decode()

In [4]:
datos

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">\r\n\r\n<html>\r\n<head>\r\n<meta http-equiv="content-type" content="text/html; charset=utf-8">\r\n<meta name="apple-mobile-web-app-capable" content="yes">\r\n<meta name = "viewport" content = "width = device-width">\r\n<title><BabelMeSH>< MEDLINE/PubMed Multilanguage Search (Spanish)</title>\r\n<!-- Google Tag Manager --> \r\n <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\': new Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\'https://www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f); })(window,document,\'script\',\'dataLayer\',\'GTM-59GQ6JK\');</script>\r\n <!-- End Google Tag Manager -->\r\n</head>\r\n<body>\r\n<!-- Google Tag Manager (noscript) --> \r\n <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59GQ6JK" height="0" width="0" style="display:none;visibility:hidden" title="googletagmanager"></iframe></noscript> \r\n <!-- End Google Tag Manager (noscript) -->\r\n\r\n\r\n<font size="5"><b><a href="http://babelmesh.nlm.nih.gov/index.php?com=" style="text-decoration:none">&lt;BabelMeSH&gt;&lt;</a>&nbsp; Búsqueda MEDLINE/PubMed en español</b></font><br>\r\n<p>\r\n<font size="2">\r\nCuando se esta buscando información médica es más facil utilizar el idioma propio. La traducción del \r\n<a href=http://www.nlm.nih.gov/pubs/factsheets/mesh.html >MeSH</a> \r\n(descriptores o palabras clave de MEDLINE) podría ser de ayuda para las personas no muy familiarizadas con el inglés. \r\nBusque en MEDLINE/PubMed usando frases o términos médicos en español. Las citas y los resúmenes obtenidos estarán en inglés solamente. El uso de acentos es opcional.<br>\r\n</font>\r\n<p>\r\n<b>Ingrese uno o más Términos Médicos o frases:</b></br>\r\n</p>\r\n\r\n\r\n<form accept-charset="utf-8" method="POST" name ="spq" action=/index_spa.php?com=&outid=> \r\n  <input type="text" name="terms" size="60" autocomplete="off" \r\n\t\t \r\n\t>\r\n  <p><input type="submit" value="Buscar" name="B1">\r\n\t&nbsp;<input type="reset" value="Borrar" name="B2"></p>\r\n\t\r\n\t\r\n\t<font size="2" color="#0000FF">Buscar artículos publicados en:<br></font>\r\n<font size="2" color="#0000FF">[<span id="s_ara_o">Árabe</span><input type="checkbox" value="ARA" name="ARA_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_chn_o">Chino</span><input type="checkbox" value="CHN" name="CHN_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_fre_o">Francés</span><input type="checkbox" value="FRE" name="FRE_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_ger_o">Alemán</span><input type="checkbox" value="GER" name="GER_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_ita_o">Italiano</span><input type="checkbox" value="ITA" name="ITA_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_jpn_o">Japonés</span><input type="checkbox" value="JPN" name="JPN_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_kor_o">Coreano</span><input type="checkbox" value="KOR" name="KOR_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_por_o">Portugués</span><input type="checkbox" value="POR" name="POR_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_rus_o">Ruso</span><input type="checkbox" value="RUS" name="RUS_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_spa_o">Español</span><input type="checkbox" value="SPA" name="SPA_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_swe_o">Sueco</span><input type="checkbox" value="SWE" name="SWE_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_eng_o">Inglés</span><input type="checkbox" value="ENG" name="ENG_o">]&nbsp;&nbsp;&nbsp;</font>\r\n<font size="2" color="#0000FF">[<span id="s_all_o">Todos</span><input type="checkbox" value="ALL" name="ALL_o">]</font>\r\n\t<input type = "hidden" value="1" name="checked">\r\n</form>\r\n<p>\r\n<hr>\r\n<font size="2">\r\n[<b><a href="pico.php?in1=SPA" style="text-decoration:none">Search PICO Linguist</a></b>]&nbsp; &nbsp;\r\n[<a href=feedback.php?lang=spa>Feedback</a>]\r\n[<a href="/ac.php">Acknowledgment</a>]\r\n[<a href="/disclaimer.php" target="new">Disclaimer</a>]</br></font>\r\n\r\n<SCRIPT src="sp.js"></SCRIPT>\r\n<SCRIPT>InstallAC(document.spq,document.spq.terms,document.spq.B1,"search","en");</SCRIPT>\r\n\r\n</body>\r\n</html>\r\n'

In [59]:
soup = BeautifulSoup(datos)
tags = soup('PCR')
for tag in tags:
    print(tag.get('docsum-title'))

In [6]:
soup.find_all('a', class_='docsum-title')

[]

In [8]:
soup.find_all('input', class_="form-control")

[<input class="form-control" name="s" placeholder="Buscar" tabindex="1" type="text" value="">
 <select class="form-control custom-select" name="w" tabindex="2">
 <option value="0">Todo el sitio</option>
 <option value="2">Mundo Médico</option>
 <option value="13">Ciencia y Medicina</option>
 <option value="29">Educación Médica</option>
 </select>
 <button class="btn btn-primary" type="submit"><i class="fa fa-search mr-2"></i>Buscar</button>
 </input>]